.class1{
  margin-top: 20px !important;
  margin-bottom: 100px !important;
}
/* .class4{

  position: absolute;
  width: 340px !important;
  align-self: center;
  margin-top: 10%;

} */

.container
{
  position: absolute;
  top: 35%;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
  width: 200px;

}

button.btn-link{
  color: #303f9f !important;
}

form.viop{
  margin-top: 30px !important;
}

button.btn-link:hover{
  background: #303f9f !important;
  color: #ffffff !important;
  text-decoration: none !important;
}


body{
  margin : 0 0 90px !important;
  background: #eeeeee !important;

}

.class2{
  margin-top: 50px !important;
}

footer{
  background: #212121 !important;
  color: #fafafa !important;
  height: 4em !important;
  width: 100% !important;
  text-align: center;
  margin-top: 30px !important;
  padding-top: 1.4em !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
}

.pass1{

  margin-top: 20px !important;
}
