<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Consolidated Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>



<div class="ui container" style="margin-top:3%">
  <h3>Consolidated Report: PBAS</h3>

  <!-- <p>{{ data6 }}</p> -->
    <table id="consolidated" class="ui celled table" style="margin-top:2%">
  <thead>
    <tr><th>Name</th>
      <th>Designation</th>
    <th>Department</th>
    <th>Month of Increment</th>
    <th>Self Marks</th>
    <th>HOD Marks</th>
    <th>Principal Marks</th>
    <th>Add/Reduce Marks</th>
    <th>Reason</th>
    <th>Total Marks</th>
  </tr></thead>
  <tbody>

    {% for key, value in data6.items %}
     <tr pk="{{key.department.pk}}">
      <td data-label="Name">{{key.first_name}}</td>
      <td data-label="Name">{{key.designation}}</td>

      <td data-label="department">{{key.department}}</td>


      {%if value.4 %}
      <td data-label="incr">{{value.4.month_of_increment}}</td>
      {%else%}
      <td data-label="incr"></td>
      {%endif%}

      {%if value.0 or value.1%}
      <td data-label="selfmarks">{{value.0.e_o_f_r_final}} + {{value.1.rd_tot_marks}} {%if value.2.marks_deduce %} - {{value.2.marks_deduce}} {%endif%}</td>
      {%else%}
      <td data-label="selfmarks"></td>
      {%endif%}
      {%if value.2%}
      <td data-label="hodmarks">{{value.2.hod_marks1}} + {{value.2.hod_marks2}}</td>
      {%else%}
      <td data-label="hodmarks"></td>
      {%endif%}
      {%if value.3%}
      <td
      {% if key.designation.name == "HOD" %}
      data-label="principalmarks">{{value.3.prin_marks1}} + {{value.3.prin_marks2}}
      {% else %}
      data-label="principalmarks">{%if value.3.prin_marks1 %} {{value.3.prin_marks1}}{%endif%}
      {% endif %}
      </td>

      <td {% if key.designation.name == "HOD" %} data-label="bonus">
      {%if value.3.prin_marks3 %}
      {{value.3.prin_marks3}}
      {%endif%}
      {% else %}
      data-label="principalmarks">
      {%if value.3.prin_marks2 %}
      {{value.3.prin_marks2}}
      {%endif%}
      {% endif %}
      </td>
      <td data-label="reason">{%if value.3.prin_marks2 %}
      {{value.3.ta_prin_remarks1}}
      {%endif%}</td>

      <td data-label="totalmarks">{{value.3.total_marks}}</td>


      {%else%}
      <td data-label="principalmarks"></td>
      <td data-label="bonus"></td>
      <td data-label="reason"></td>
      <td data-label="totalmarks"></td>
      {%endif%}
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>
<script>
  $(function() {
    var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("consolidated");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[2];
      x_parent = x.parent().attr('pk');
      y = rows[i + 1].getElementsByTagName("TD")[2];
      y_parent = y.parent().attr('pk');
      //check if the two rows should switch place:
      if (x_parent > y_parent) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
  })
</script>
  </body>
</html>
