<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AO Consolidated</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

  </head>
  <body>

<div class="ui container" style="margin-top:5%">

  <!-- <p>{{ data6 }}</p> -->

    <table class="ui celled table">
  <thead>
    <tr><th>Name</th>
      <th>Designation</th>
    <th>Department</th>
    <th>Self Marks</th>
    <th>HOD Marks</th>
    <th>Principal Marks</th>
    <th>Total Marks</th>
  </tr></thead>
  <tbody>

    {{ data6 }}
    {% for key, value in data6.items %}
     <tr>
      <td data-label="Name">{{key.first_name}}</td>
      <td data-label="Name">{{key.designation}}</td>

      <td data-label="department">{{key.department}}</td>
      {%if value.0 or value.1%}
      <td data-label="selfmarks">{{value.0.e_o_f_r_final}} + {{value.1.rd_tot_marks}}</td>
      {%else%}
      <td data-label="selfmarks"></td>
      {%endif%}
      {%if value.2%}
      <td data-label="hodmarks">{{value.2.hod_marks1}} + {{value.2.hod_marks2}}</td>
      {%else%}
      <td data-label="hodmarks"></td>
      {%endif%}
      {%if value.3%}
      <td data-label="principalmarks">{{value.3.prin_marks1}} + {{value.3.prin_marks2}}
      </td>
      <td data-label="totalmarks">{{value.3.total_marks}}</td>
      {%else%}
      <td data-label="principalmarks"></td>
      <td data-label="totalmarks"></td>
      {%endif%}
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>

  </body>
</html>
