<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AO Consolidated</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

  </head>
  <body>

<div class="ui container" style="margin-top:5%">



    <table class="ui celled table">
  <thead>
    <tr><th>Name</th>
      <th>Designation</th>
    <th>Department</th>
    <th>Self Marks</th>
    <th>HOD Marks</th>
    <th>Principal Marks</th>
    <th>Total Marks</th>
  </tr></thead>
  <tbody>


    {% for a in data6 %}
     <tr>
      <td data-label="Name">{{a.first_name}}</td>
      <td data-label="Name">{{a.designation}}</td>

      <td data-label="department">{{a.department}}</td>
      <td data-label="selfmarks">{{a.0.e_o_f_r_final}} + {{a.1.rd_tot_marks}}</td>
      <td data-label="hodmarks">{{a.2.hod_marks1}} + {{a.2.hod_marks2}}</td>



      <!-- <td data-label="principalmarks">{{e.prin_marks1}} + {{e.prin_marks2}} + {{e.prin_marks3}}</td>
      <td data-label="totalmarks">{{e.total_marks}}</td> -->
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>

  </body>
</html>
