<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>

{% include 'base.html' %}
<body>
<div id='content'>
	<div class="container">

		  <div class="card poi table-bordered">
        <div class="form-row">
        <div class="form-group col-md-3">
        <img src={% static "image/bms.logo.png" %} class="img-thumbnail" width="150px"/>
      </div>
        <div class="form-group col-md-9">
        <h2 class="display-4 al" >BMS Institute of Technology & Management</h2>
      </div>
    </div>
        <h3 class="lead" align="center">Faculty Appraisal Form</h3>
				<h1 class="lead" align="center">2017-18</h1>
        <hr class="my-4">
      </div>

      <form method="POST">
      {% csrf_token %}

        <div class="table-bordered poi form-row">
          <div class="form-group col-md-6">
            <label for="">Internship Company Name</label>

            <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.it_name }}">
          </div>
          <div class="form-group col-md-3">
            <label for="">From</label>
            <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.it_f }}">
          </div>
          <div class="form-group col-md-3">
            <label for="">To</label>
            <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.it_t }}">
          </div>
          <div class="form-group col-md-6">

            <label for="">Internship report file</label>
            {% if key2.internship_report_file %}
            <a href="/media/{{ key2.internship_report_file}}">Click to view</a>
            {% else %}
            <a href="#"></a>
            {% endif %}

          </div>

          <div class="form-group col-md-6">
            <label for="inputEmpName">Employee Name</label>
            <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key1.first_name }}">
          </div>
        <div class="form-group col-md-6">
            <label for="inputEmployeeIdNo">Username</label>
            <input type="text" class="form-control" id="inputEmployeeIdNo" disabled value="{{key1.username}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputHighestQuali">Highest Qualification</label>
            <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.high_qual }}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputDept">Department</label>
          <input type="text" class="form-control" id="inputEmployeeIdNo" disabled value="{{key1.department}}">
        </div>
        <div class="form-group col-md-12">
          <label for="inputDOJ">Date of joining</label>
          <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.doj }}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPresentPosition">Designation</label>
					<input type="text" class="form-control" id="inputEmployeeIdNo" disabled value="{{key1.designation}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputHeldFrom">Held From</label>
          <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.Held_from }}">
        </div>

        <div class="form-group col-md-6">
          <label for="inputPhoneNo">Phone No.</label>
          <input type="text" class="form-control" id="inputPhoneNo" disabled placeholder="PhoneNo" value="{{key1.phone}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email Address</label>
          <input type="email" class="form-control" id="inputEmail" disabled placeholder="Email" value="{{key1.email}}">
        </div>

        <h3>Experience</h3>
          <div class="row form-group col-md-12">

      	   <div class="form-group col-md-4">
            <label for="inputteaching">teaching</label>
            <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.exp_teach }}">
           </div>
            <div class="form-group col-md-4">
              <label for="inputResearch">Research</label>
              <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.exp_res }}">
            </div>
            <div class="form-group col-md-4">
              <label for="inputIndustry">Industry</label>
              <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.exp_indus }}">
            </div>
	       </div>
         <div class="form-group col-md-6">
         <label>Month of increment</label>
         <input type="text" class="form-control" id="inputEmpName" disabled value="{{ key2.month_of_increment }}">
                     
                      </div>
	   </div>



   <h3 class="poi">1: Course Feedback and results<span class="sp">(Maximum Score: 40 marks)</span></h3>

<div class="table-bordered poi">

    <h4>1A: Odd Semester</h4>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Therory Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
		{% if key3.o_t1_name %}
    <tr>
      <td>1</td>
      <td>{{ key3.o_t1_name }}</td>
      <td class="right aligned">{{ key3.o_t1_f1 }}</td>
      <td class="center aligned">{{ key3.o_t1_f2 }}</td>
      <td>{{ key3.o_t1_favg }}</td>
      <td>{{ key3.o_t1_stu_app }}</td>
      <td>{{ key3.o_t1_stu_pass }}</td>
      <td>{{ key3.o_t1_stu_perpass }}</td>
    </tr>
			{% endif %}
			{% if key3.o_t2_name %}
    <tr>
      <td>2</td>
      <td>{{ key3.o_t2_name }}</td>
      <td class="right aligned">{{ key3.o_t2_f1 }}</td>
      <td class="center aligned">{{ key3.o_t2_f2 }}</td>
      <td>{{ key3.o_t2_favg }}</td>
      <td>{{ key3.o_t2_stu_app }}</td>
      <td>{{ key3.o_t2_stu_pass }}</td>
      <td>{{ key3.o_t2_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.o_t3_name %}
    <tr>
      <td>3</td>
      <td>{{ key3.o_t3_name }}</td>
      <td class="right aligned">{{ key3.o_t3_f1 }}</td>
      <td class="center aligned">{{ key3.o_t3_f2 }}</td>
      <td>{{ key3.o_t3_favg }}</td>
      <td>{{ key3.o_t3_stu_app }}</td>
      <td>{{ key3.o_t3_stu_pass }}</td>
      <td>{{ key3.o_t3_stu_perpass }}</td>
    </tr>
		{% endif %}
  </tbody>
</table>
<div class="container-fluid">
<div class="row">

<div class="form-group col-sm-6">
<label >TOTAL FEEDBACK AVG. </label>
<em>{{ key3.o_t_f_avg }}</em></div>
<div class="form-group col-sm-6">
<label >TOTAL RESULTS AVG.</label>
<em>{{ key3.o_t_r_avg }}</em></div>
</div>


</div>
<div class="dis1 row">

<div class="form-group col-sm-4">

</div>
<!-- <div class="form-group col-sm-4">

<button type="button" class="btn btn-info btn-lg btn-block o_t">Calculate</button>
</div> -->
<div class="form-group col-sm-4">

</div>
</div>


<!-- </div> -->
<table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Lab Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
		{% if key3.o_l1_name %}
    <tr>
      <td>1</td>
      <td>{{ key3.o_l1_name }}</td>
      <td class="right aligned">{{ key3.o_l1_f1 }}</td>
      <td class="center aligned">{{ key3.o_l1_f2 }}</td>
			<td>{{ key3.o_l1_favg }}</td>
      <td>{{ key3.o_l1_stu_app }}</td>
      <td>{{ key3.o_l1_stu_pass }}</td>
			<td>{{ key3.o_l1_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.o_l2_name %}
    <tr>
      <td>2</td>
      <td>{{ key3.o_l2_name }}</td>
      <td class="right aligned">{{ key3.o_l2_f1 }}</td>
      <td class="center aligned">{{ key3.o_l2_f2 }}</td>
			<td>{{ key3.o_l2_favg }}</td>
      <td>{{ key3.o_l2_stu_app }}</td>
      <td>{{ key3.o_l2_stu_pass }}</td>
			<td>{{ key3.o_l2_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.o_l3_name %}
     <tr>
      <td>3</td>
      <td>{{ key3.o_l3_name }}</td>
      <td class="right aligned">{{ key3.o_l3_f1 }}</td>
      <td class="center aligned">{{ key3.o_l3_f2 }}</td>
			<td>{{ key3.o_l3_favg }}</td>
      <td>{{ key3.o_l3_stu_app }}</td>
      <td>{{ key3.o_l3_stu_pass }}</td>
			<td>{{ key3.o_l3_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.o_l4_name %}
    <tr>
      <td>4</td>
      <td>{{ key3.o_l4_name }}</td>
      <td class="right aligned">{{ key3.o_l4_f1 }}</td>
      <td class="center aligned">{{ key3.o_l4_f2 }}</td>
      <td>{{ key3.o_l4_favg }}</td>
      <td>{{ key3.o_l4_stu_app }}</td>
      <td>{{ key3.o_l4_stu_pass }}</td>
      <td>{{ key3.o_l4_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.o_l5_name %}
    <tr>
      <td>5</td>
      <td>{{ key3.o_l5_name }}</td>
      <td class="right aligned">{{ key3.o_l5_f1 }}</td>
      <td class="center aligned">{{ key3.o_l5_f2 }}</td>
      <td>{{ key3.o_l5_favg }}</td>
      <td>{{ key3.o_l5_stu_app }}</td>
      <td>{{ key3.o_l5_stu_pass }}</td>
      <td>{{ key3.o_l5_stu_perpass }}</td>
    </tr>
		{% endif %}
  </tbody>

</table>
<div class="container-fluid">
<div class="row">

<div class="form-group col-sm-6">
<label >TOTAL FEEDBACK AVG. </label>
<em>{{key3.o_l_f_avg }}</em>
</div>
<div class="form-group col-sm-6">
<label >TOTAL RESULTS AVG.</label>
<em>{{ key3.o_l_r_avg }}</em>
</div>

</div>
<div class="dis1 row">

<div class="form-group col-sm-4">

</div>
<!-- <div class="form-group col-sm-4">

<button type="button" class="btn btn-info btn-lg btn-block o_l">Calculate</button>
</div> -->
<div class="form-group col-sm-4">

</div>
</div>

</div>

</div>

<div class="table-bordered poi">

   <h4>1B: Even Semester</h4>
  <table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Therory Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
		{% if key3.e_t1_name %}
    <tr>
      <td>1</td>
      <td>{{ key3.e_t1_name }}</td>
      <td class="right aligned">{{ key3.e_t1_f1 }}</td>
      <td class="center aligned">{{ key3.e_t1_f2 }}</td>
      <td>{{ key3.e_t1_favg }}</td>
      <td>{{ key3.e_t1_stu_app }}</td>
      <td>{{ key3.e_t1_stu_pass }}</td>
      <td>{{ key3.e_t1_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.e_t2_name %}
    <tr>
      <td>2</td>
      <td>{{ key3.e_t2_name }}</td>
      <td class="right aligned">{{ key3.e_t2_f1 }}</td>
      <td class="center aligned">{{ key3.e_t2_f2 }}</td>
      <td>{{ key3.e_t2_favg }}</td>
      <td>{{ key3.e_t2_stu_app }}</td>
      <td>{{ key3.e_t2_stu_pass }}</td>
      <td>{{ key3.e_t2_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.e_t3_name %}

      <tr>
      <td>3</td>
      <td>{{ key3.e_t3_name }}</td>
      <td class="right aligned">{{ key3.e_t3_f1 }}</td>
      <td class="center aligned">{{ key3.e_t3_f2 }}</td>
      <td>{{ key3.e_t3_favg }}</td>
      <td>{{ key3.e_t3_stu_app }}</td>
      <td>{{ key3.e_t3_stu_pass }}</td>
      <td>{{ key3.e_t3_stu_perpass }}</td>
    </tr>
		{% endif %}
  </tbody>
</table>
<div class="container-fluid">
  <div class="row">

  <div class="form-group col-sm-6">
  <label >TOTAL FEEDBACK AVG. </label>
  <em>{{ key3.e_t_f_avg }}</em></div>
  <div class="form-group col-sm-6">
  <label >TOTAL RESULTS AVG.</label>
  <em>{{ key3.e_t_r_avg }}</em></div>
  </div>

<div class="dis1 row">

<div class="form-group col-sm-4">

</div>
<!-- <div class="form-group col-sm-4">

<button type="button" class="btn btn-info btn-lg btn-block e_t">Calculate</button>
</div> -->
<div class="form-group col-sm-4">

</div>
</div>
</div>
<table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Lab Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
		{% if key3.e_l1_name %}
    <tr>
      <td>1</td>
      <td>{{ key3.e_l1_name }}</td>
      <td class="right aligned">{{ key3.e_l1_f1 }}</td>
      <td class="center aligned">{{ key3.e_l1_f2 }}</td>
			<td>{{ key3.e_l1_favg }}</td>
      <td>{{ key3.e_l1_stu_app }}</td>
      <td>{{ key3.e_l1_stu_pass }}</td>
			<td>{{ key3.e_l1_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.e_l2_name %}
    <tr>
      <td>2</td>
      <td>{{ key3.e_l2_name }}</td>
      <td class="right aligned">{{ key3.e_l2_f1 }}</td>
      <td class="center aligned">{{ key3.e_l2_f2 }}</td>
			<td>{{ key3.e_l2_favg }}</td>
      <td>{{ key3.e_l2_stu_app }}</td>
      <td>{{ key3.e_l2_stu_pass }}</td>
			<td>{{ key3.e_l2_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.e_l3_name %}
		<tr>
      <td>3</td>
      <td>{{ key3.e_l3_name }}</td>
      <td class="right aligned">{{ key3.e_l3_f1 }}</td>
      <td class="center aligned">{{ key3.e_l3_f2 }}</td>
			<td>{{ key3.e_l3_favg }}</td>
      <td>{{ key3.e_l3_stu_app }}</td>
      <td>{{ key3.e_l3_stu_pass }}</td>
			<td>{{ key3.e_l3_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.e_l4_name %}

    <tr>
      <td>4</td>
      <td>{{ key3.e_l4_name }}</td>
      <td class="right aligned">{{ key3.e_l4_f1 }}</td>
      <td class="center aligned">{{ key3.e_l4_f2 }}</td>
      <td>{{ key3.e_l4_favg }}</td>
      <td>{{ key3.e_l4_stu_app }}</td>
      <td>{{ key3.e_l4_stu_pass }}</td>
      <td>{{ key3.e_l4_stu_perpass }}</td>
    </tr>
		{% endif %}
		{% if key3.e_l5_name %}

    <tr>
      <td>5</td>
      <td>{{ key3.e_l5_name }}</td>
      <td class="right aligned">{{ key3.e_l5_f1 }}</td>
      <td class="center aligned">{{ key3.e_l5_f2 }}</td>
      <td>{{ key3.e_l5_favg }}</td>
      <td>{{ key3.e_l5_stu_app }}</td>
      <td>{{ key3.e_l5_stu_pass }}</td>
      <td>{{ key3.e_l5_stu_perpass }}</td>
    </tr>
		{% endif %}
  </tbody>
</table>
<div class="container-fluid">
  <div class="row">

  <div class="form-group col-sm-6">
  <label >TOTAL FEEDBACK AVG. </label>
  <em>{{ key3.e_l_f_avg }}</em></div>
  <div class="form-group col-sm-6">
  <label >TOTAL RESULTS AVG.</label>
  <em>{{ key3.e_l_r_avg }}</em></div>
  </div>

<div class="dis1 row">

<div class="form-group col-sm-4">

</div>
<!-- <div class="form-group col-sm-4">

<button type="button" class="btn btn-info btn-lg btn-block e_l">Calculate</button>
</div> -->
<div class="form-group col-sm-4">

</div>
</div>

</div>
</div>

<div class=" table-bordered poi">

   <h4>1C: Project Guided</h4>
  <table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2" >Project Name</th>
      <th colspan="3" >Student Feedback</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
    </tr>
  </thead>
	<tbody>
		{% if key3.p1_name %}

		<tr>
			<td>1</td>
			<td>{{ key3.p1_name }}</td>
			<td class="right aligned">{{ key3.p1_f1 }}</td>
			<td class="center aligned">{{ key3.p1_f2 }}</td>
			<td>{{ key3.p1_favg }}</td>
		</tr>
		{% endif %}
		{% if key3.p2_name %}

		 <tr>
			<td>2</td>
			<td>{{ key3.p2_name }}</td>
			<td class="right aligned">{{ key3.p2_f1 }}</td>
			<td class="center aligned">{{ key3.p2_f2 }}</td>
			<td>{{ key3.p2_favg }}</td>
		</tr>
		{% endif %}

		{% if key3.p3_name %}

		<tr>
			<td>3</td>
			<td>{{ key3.p3_name }}</td>
			<td class="right aligned">{{ key3.p3_f1 }}</td>
			<td class="center aligned">{{ key3.p3_f2 }}</td>
			<td>{{ key3.p3_favg }}</td>
		</tr>
		{% endif %}

		{% if key3.p4_name %}

		<tr>
			<td>4</td>
			<td>{{ key3.p4_name }}</td>
			<td class="right aligned">{{ key3.p4_f1 }}</td>
			<td class="center aligned">{{ key3.p4_f2 }}</td>
			<td>{{ key3.p4_favg }}</td>
		</tr>
		{% endif %}

		{% if key3.p5_name %}

		<tr>
			<td>5</td>
			<td>{{ key3.p5_name }}</td>
			<td class="right aligned">{{ key3.p5_f1 }}</td>
			<td class="center aligned">{{ key3.p5_f2 }}</td>
			<td>{{ key3.p5_favg }}</td>
		</tr>
		{% endif %}

		{% if key3.p6_name %}

		<tr>
			<td>6</td>
			<td>{{ key3.p6_name }}</td>
			<td class="right aligned">{{ key3.p6_f1 }}</td>
			<td class="center aligned">{{ key3.p6_f2 }}</td>
			<td>{{ key3.p6_favg }}</td>
		</tr>
		{% endif %}

		{% if key3.p7_name %}

		<tr>
			<td>7</td>
			<td>{{ key3.p7_name }}</td>
			<td class="right aligned">{{ key3.p7_f1 }}</td>
			<td class="center aligned">{{ key3.p7_f2 }}</td>
			<td>{{ key3.p7_favg }}</td>
		</tr>
		{% endif %}





		{% if key3.p8_name %}

		<tr>
			<td>8</td>
			<td>{{ key3.p8_name }}</td>
			<td class="right aligned">{{ key3.p8_f1 }}</td>
			<td class="center aligned">{{ key3.p8_f2 }}</td>
			<td>{{ key3.p8_favg }}</td>
		</tr>
		{% endif %}


		{% if key3.p9_name %}

		<tr>
			<td>9</td>
			<td>{{ key3.p9_name }}</td>
			<td class="right aligned">{{ key3.p9_f1 }}</td>
			<td class="center aligned">{{ key3.p9_f2 }}</td>
			<td>{{ key3.p9_favg }}</td>
		</tr>
		{% endif %}


		{% if key3.p10_name %}

		<tr>
			<td>10</td>
			<td>{{ key3.p10_name }}</td>
			<td class="right aligned">{{ key3.p10_f1 }}</td>
			<td class="center aligned">{{ key3.p10_f2 }}</td>
			<td>{{ key3.p10_favg }}</td>
		</tr>
		{% endif %}

</tbody>

</table>


<div class="container-fluid">
<div class="row">
<div class="form-group col-sm-1">
</div>
<!-- <div class="form-group col-sm-4">
<label > </label>

<button type="button" class="btn btn-info btn-lg btn-block e_p">Calculate</button>

</div> -->

<div class="form-group col-sm-6">
<label >TOTAL FEEDBACK AVG.</label>
<em>{{ key3.p_f_avg }}</em>
</div>
</div>
</div>
</div>
<div class="card poi card-header" id="headingOne">
<div class="form-group">
<div class="form-row dis">
<div class="col-1"></div>
<div class="col-10">
 <div class="form-row dis">
               <div class="form-group col-md-6">
              <h6 class=" color1">TOTAL MARKS<span class="sp">(Maximum Score: 40)</span></h6>
               </div>

                  <div class="orm-group col-md-6">
									  	<h2 style="color:#1844f1;"><em class="m1">{{ key3.e_o_f_r_final }}</em></h2>
                        </div>
                    </div>
</div>
<div class="col-1"></div>
</div>

<div class="form-row dis">
<div class="col-4"></div>
<div class="col-4">
 <!-- <div class="form-row dis">



   <button type="button" class="btn btn-success btn-lg btn-block f_calc">Calculate</button>



</div> -->
<div class="col-4"></div>
</div>
</div>
</div>

</div>
<div class="table table-bordered" id="accordionExample">
  <h4 class="po color1">2: RESEARCH & DEVELOPMENT AND CONSULTANCY<span class="sp">(Maximum Score: 35 marks)</span></h4>
  <div class="">
    <div class="card-header" id="headingOne">
      <h3 class="">
        <button class="btn btn-link fo1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         2A: Workshops/FDP attended
        </button>
      </h3>
    </div>

<div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="State Level (.5 m/day)" >

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" disabled value="{{key4.w_s_d}}">
        </div>
				<h3>Documents</h3>
				<div class="form-group col-md-6">
					{% if key4.w_s_file %}
						<a href="/media/{{key4.w_s_file}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}



				</div>


    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="National Level (1 m/day)">

          </div>
        <div class="form-group col-md-6">

          <input type="text" class="form-control" disabled value="{{key4.w_n_d}}">

        </div>
				<h3>Documents</h3>
				<div class="form-group col-md-6">
					{% if key4.w_n_file %}
						<a href="/media/{{key4.w_n_file}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}



				</div>




    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="International Level (1 m/day)">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" disabled value="{{key4.w_i_d}}">
        </div>
				<h3>Documents</h3>
				<div class="form-group col-md-6">
					{% if key4.w_i_file %}
						<a href="/media/{{key4.w_i_file}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}



				</div>



    </div>


		<div class="form-row dis">
							<div class="form-group col-md-2">


							</div>


						 <div class="form-group col-md-8">
									 <div class="form-row dis">
								 <div class="form-group col-md-4">

									</div>
												<div class="form-group col-md-2"></div>
                        <div class="form-row dis">
                                      <div class="form-group col-md-6">
                                     <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
                                      </div>

                                         <div class="orm-group col-md-6">
                       										<em>{{ key4.w_m }}</em>
                                               </div>
                                           </div>
												</div>

							</div>
							<div class="form-group col-md-2"></div>

				</div>
</div>
  <div class="">
    <div class="card-header" id="headingTwo">
      <h3 class="">
        <button class="btn btn-link collapsed fo1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

2B: Invited talk/Seminar/Key Note Delivered
        </button>
      </h3>
    </div>

        <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="State Level (2 m/Day)">

          </div>
        <div class="form-group col-md-6">

          <input type="text" class="form-control" disabled value="{{key4.p_s_d}}">
        </div>
				<h3>Documents</h3>
				<div class="form-group col-md-6">
					{% if key4.p_s_file %}
						<a href="/media/{{key4.p_s_file}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}



				</div>

    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="National Level (4 m/Day)">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" disabled value="{{key4.p_n_d}}">

        </div>
				<h3>Documents</h3>
				<div class="form-group col-md-6">
					{% if key4.p_n_file %}
						<a href="/media/{{key4.p_n_file}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}



				</div>


    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="International Level (5 m/Day)">

          </div>
        <div class="form-group col-md-6">

          <input type="text" class="form-control" disabled value="{{key4.p_i_d}}">

        </div>
				<h3>Documents</h3>
				<div class="form-group col-md-6">
					{% if key4.p_i_file %}
						<a href="/media/{{key4.p_i_file}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}



				</div>



    </div>

		<div class="form-row dis">
							<div class="form-group col-md-2">


							</div>


						 <div class="form-group col-md-8">
									 <div class="form-row dis">
								 <div class="form-group col-md-4">

									</div>
												<div class="form-group col-md-2"></div>
                        <div class="form-row dis">
                                      <div class="form-group col-md-6">
                                     <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
                                      </div>

                                         <div class="orm-group col-md-6">
                                          <em>{{ key4.p_m }}</em>
                                               </div>
                                           </div>
												</div>

							</div>
							<div class="form-group col-md-2"></div>

				</div>
  </div>
	<div class="">
		<div class="card-header" id="headingThree">
			<h3 class="">
				<button class="btn btn-link collapsed fo1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				 2C: Number of Online Courses Completed
			 </button><span class="fo1">(Maximum Score: 10 marks)</span>
			</h3>
		</div>
		<div class="form-group">
		<div class="form-row dis">
	 <div class="form-group col-md-6">
					<input type="text" class="form-control" disabled value="{{key4.onl_course_c}}">
				</div>

				<div class="form-group col-md-6">
          <label>Documents:</label>
          {% if key4.onl_course_c_file1 %}
           <a href="/media/{{key4.onl_course_c_file1}}">Click to view</a>
            {% else %}
            <a href="#"></a>
            {% endif %}

        </div>

				<div class="form-group col-md-6">
					<label>Online courses Documents2:</label>
					{% if key4.onl_course_c_file2 %}
					 <a href="/media/{{key4.onl_course_c_file2}}">Click to view</a>
						{% else %}
						<a href="#"></a>
						{% endif %}

				</div>
        <div class="form-group col-md-6">
       <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>


           <div class="orm-group col-md-6">
            <em>{{ key4.onl_course_m }}</em>
                 </div>

	</div>

	</div>
	</div>
</div>


<div class="accordion dis1" id="accordionExample">
  <h4 class=" color1">3:Publications</h4>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h3 class="">
        <button class="btn btn-link fo1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          3A: Non-Indexed Publications in National Conference/Journals and International Conference/Journals<span class="sp">(Maximum Score: 08 marks)</span>
        </button>
      </h3>
    </div>

		<div class="form-row dis">
    <div class="form-group col-md-4">
			<div class="form-row">
			<div class="form-group col-sm-12">
			<h4 class="mb-0" align = "center">Sole Authored </h4>
</div>
			</div>
<div class="form-row">
<div class="form-group col-sm-12">
<label >Number of conference/Journal: </label>
{{ key4.s_c_n }}
</div>
</div>

<div class="form-row">
<div class="form-group col-sm-12">
 <div class="form-row dis">
               <div class="orm-group col-md-2">

               </div>

                  <div class="orm-group col-md-8">
                    <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
										{{ key4.s_c_m }}
                        </div>
												<div class="orm-group col-md-2">

												</div>
                    </div>
</div>
</div>
</div>
<div class="form-group col-md-4 " style="  border-left: thin solid #ff0000" >
	<div class="form-row">
	<div class="form-group col-sm-12">
	<h4 class="mb-0" align ="center" >First & Second Author </h4>

	</div>
	</div>
<div class="form-row">
<div class="form-group col-sm-12">
<label >Number of conference/Journal: </label>
{{ key4.f_c_n }}
</div>
</div>

<div class="form-row">
<div class="form-group col-sm-12">
<div class="form-row dis">
					 <div class="orm-group col-md-2">

					 </div>
							<div class="orm-group col-md-8">
                <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
                {{ key4.f_c_m }}
										</div>
										<div class="orm-group col-md-2">

										</div>
								</div>
</div>
</div>
</div>
<div class="form-group col-md-4" style="  border-left: thin solid #ff0000" >
	<div class="form-row">
	<div class="form-group col-sm-12">
	<h4 class="mb-0" align ="center" >Other Author </h4>

	</div>
	</div>
<div class="form-row">
<div class="form-group col-sm-12">
<label >Number of conference/Journal: </label>
{{ key4.o_c_n }}
</div>
</div>


<div class="form-row">
<div class="form-group col-sm-12">
<div class="form-row dis">
					 <div class="orm-group col-md-2">

					 </div>
							<div class="orm-group col-md-8">
								    <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
								{{ key4.o_c_m }}
										</div>
										<div class="form-group col-md-2">

										</div>
								</div>
</div>
</div>
</div>
</div>
<!-- form>
        <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Sole Authored">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being first and second author">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being other author ">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>
</form>
</div> -->


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h3 class="">
        <button class="btn btn-link collapsed fo1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

3B:  Indexed Publications in Conference/Journals with SCOPUS<span class="sp">(Maximum Score: 12 marks)</span>
        </button>
      </h3>
    </div>

		    <div class="form-row dis">
      <div class="form-group col-md-4">
        <div class="form-row">
<div class="form-group col-sm-11">
					<div class="form-group col-sm-12">
					<h4 class="mb-0" align ="center" >Sole Authored </h4>
</div>
					</div>
<div class="form-group col-sm-11">
<label >Number of Conference/journal: </label>
{{ key4.s_j_n }}
</div>
</div>

    <div class="form-row">
<div class="form-group col-sm-11">
 <div class="form-row dis">
               <div class="orm-group col-md-2">

               </div>
                  <div class="orm-group col-md-8">
										    <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
										{{ key4.s_j_m }}
                        </div>
												<div class="orm-group col-md-2">

				                </div>
                    </div>

   </div>
</div>

</div>

<div class="form-group col-md-4 " style="  border-left: thin solid #ff0000">
	<div class="form-row">
		<div class="form-group col-sm-11">
							<div class="form-group col-sm-12">
							<h4 class="mb-0" align ="center" >First & Second Author </h4>
		</div>
							</div>
<div class="form-group col-sm-11">
<label >Number of Conference/journal: </label>
{{ key4.f_j_n }}
</div>
</div>

<div class="form-row">
<div class="form-group col-sm-11">
<div class="form-row dis">
				 <div class="orm-group col-md-2">

				 </div>
						<div class="orm-group col-md-8">
							    <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
							{{ key4.f_j_m }}
									</div>
									<div class="orm-group col-md-2">

									</div>
							</div>

</div>
</div>

</div>
<div class="form-group col-md-4 " style="border-left: thin solid #ff0000">
	<div class="form-row">
		<div class="form-group col-sm-11">
							<div class="form-group col-sm-12">
							<h4 class="mb-0" align ="center" >Other Author </h4>
		</div>
							</div>
<div class="form-group col-sm-11">
<label >Number of Conference/journal: </label>
{{ key4.o_j_n }}
</div>
</div>

<div class="form-row">
<div class="form-group col-sm-11">
<div class="form-row dis">
				 <div class="orm-group col-md-2">

				 </div>
						<div class="orm-group col-md-8">
              <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
              {{ key4.o_j_m }}
                  </div>

                  <div class="orm-group col-md-2">

                  </div>
              </div>

</div>
</div>
<div class="orm-group col-md-8">
<label for="inputResearch">Documents</label>
{% if key4.s_j_n_file %}
           <a href="/media/{{key4.s_j_n_file}}">Click to view</a>
            {% else %}
            <a href="#"></a>
            {% endif %}

      </div>
</div>
</div>
<!--    <form>
        <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Sole Authored">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being first and second author">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being other author ">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>
</form> -->
  </div>


   <div class="poi">
      <h2>Details of Non-Indexed Papers Published In Conference/Journal</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name of Conference</td>
        <td>Title of the paper</td>
        <td>Place</td>
        <td>Date</td>
        <td>Author</td>
        <td>Documents</td>
      </tr>
    </thead>
    <tbody>
      {% if key6.c1_name %}
      <tr>
        <td>{{ key6.c1_name }}</td>
        <td>{{ key6.c1_title }}</td>
        <td>{{ key6.c1_place }}</td>
        <td>{{ key6.c1_date }}</td>
        <td>{{ key6.c1_author }}</td>
        <td><a href="/media/{{key6.c1_file}}">Click to view</a></td>
      </tr>
      {% endif %}
      {% if key6.c2_name %}
      <tr>
        <td>{{ key6.c2_name }}</td>
        <td>{{ key6.c2_title }}</td>
        <td>{{ key6.c2_place }}</td>
        <td>{{ key6.c2_date }}</td>
        <td>{{ key6.c2_author }}</td>
        <td><a href="/media/{{key6.c2_file}}">Click to view</a></td>

      </tr>
      {% endif %}
      {% if key6.c3_name %}
      <tr>
        <td>{{ key6.c3_name }}</td>
        <td>{{ key6.c3_title }}</td>
        <td>{{ key6.c3_place }}</td>
        <td>{{ key6.c3_date }}</td>
        <td>{{ key6.c3_author }}</td>
        <td><a href="/media/{{key6.c3_file}}">Click to view</a></td>

      </tr>
      {% endif %}
      {% if key6.c4_name %}
      <tr>
        <td>{{ key6.c4_name }}</td>
        <td>{{ key6.c4_title }}</td>
        <td>{{ key6.c4_place }}</td>
        <td>{{ key6.c4_date }}</td>
        <td>{{ key6.c4_author }}</td>
        <td><a href="/media/{{key6.c4_file}}">Click to view</a></td>

      </tr>
      {% endif %}
      {% if key6.c5_name %}
      <tr>
        <td>{{ key6.c5_name }}</td>
        <td>{{ key6.c5_title }}</td>
        <td>{{ key6.c5_place }}</td>
        <td>{{ key6.c5_date }}</td>
        <td>{{ key6.c5_author }}</td>
        <td><a href="/media/{{key6.c5_file}}">Click to view</a></td>

      </tr>
      {% endif %}
      {% if key6.c6_name %}
      <tr>
        <td>{{ key6.c6_name }}</td>
        <td>{{ key6.c6_title }}</td>
        <td>{{ key6.c6_place }}</td>
        <td>{{ key6.c6_date }}</td>
        <td>{{ key6.c6_author }}</td>
        <td><a href="/media/{{key6.c6_file}}">Click to view</a></td>

      </tr>
      {% endif %}
      {% if key6.c7_name %}
      <tr>
        <td>{{ key6.c7_name }}</td>
        <td>{{ key6.c7_title }}</td>
        <td>{{ key6.c7_place }}</td>
        <td>{{ key6.c7_date }}</td>
        <td>{{ key6.c7_author }}</td>
        <td><a href="/media/{{key6.c7_file}}">Click to view</a></td>

      </tr>
      {% endif %}
      {% if key6.c8_name %}
      <tr>
        <td>{{ key6.c8_name }}</td>
        <td>{{ key6.c8_title }}</td>
        <td>{{ key6.c8_place }}</td>
        <td>{{ key6.c8_date }}</td>
        <td>{{ key6.c8_author }}</td>
        <td><a href="/media/{{key6.c8_file}}">Click to view</a></td>

      </tr>
      {% endif %}
    </tbody>
  </table>

<h2>Details of Indexed Papers Published In Conference/Journal</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Title of the paper</td>
      <td>Volume</td>
      <td>Date</td>
      <td>Indexed</td>
      <td>Issn/Doi no.</td>
      <td>Page</td>
      <td>Author</td>
      <td>Documents</td>
    </tr>
  </thead>
  <tbody>
    {% if key7.j1_name %}
    <tr>
      <td>{{ key7.j1_name }}</td>
      <td>{{ key7.j1_title }}</td>
      <td>{{ key7.j1_volume }}</td>
      <td>{{ key7.j1_date }}</td>
      <td>{{ key7.j1_index }}</td>
      <td>{{ key7.j1_issn }}</td>
      <td>{{ key7.j1_page }}</td>
      <td>{{ key7.j1_author }}</td>
      <td><a href="/media/{{key7.j1_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j2_name %}
    <tr>
      <td>{{ key7.j2_name }}</td>
      <td>{{ key7.j2_title }}</td>
      <td>{{ key7.j2_volume }}</td>
      <td>{{ key7.j2_date }}</td>
      <td>{{ key7.j2_index }}</td>
      <td>{{ key7.j2_issn }}</td>
      <td>{{ key7.j2_page }}</td>
      <td>{{ key7.j2_author }}</td>
      <td><a href="/media/{{key7.j2_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j3_name %}
    <tr>
      <td>{{ key7.j3_name }}</td>
      <td>{{ key7.j3_title }}</td>
      <td>{{ key7.j3_volume }}</td>
      <td>{{ key7.j3_date }}</td>
      <td>{{ key7.j3_index }}</td>
      <td>{{ key7.j3_issn }}</td>
      <td>{{ key7.j3_page }}</td>
      <td>{{ key7.j3_author }}</td>
      <td><a href="/media/{{key7.j3_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j4_name %}
    <tr>
      <td>{{ key7.j4_name }}</td>
      <td>{{ key7.j4_title }}</td>
      <td>{{ key7.j4_volume }}</td>
      <td>{{ key7.j4_date }}</td>
      <td>{{ key7.j4_index }}</td>
      <td>{{ key7.j4_issn }}</td>
      <td>{{ key7.j4_page }}</td>
      <td>{{ key7.j4_author }}</td>
      <td><a href="/media/{{key7.j4_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j5_name %}
    <tr>
      <td>{{ key7.j5_name }}</td>
      <td>{{ key7.j5_title }}</td>
      <td>{{ key7.j5_volume }}</td>
      <td>{{ key7.j5_date }}</td>
      <td>{{ key7.j5_index }}</td>
      <td>{{ key7.j5_issn }}</td>
      <td>{{ key7.j5_page }}</td>
      <td>{{ key7.j5_author }}</td>
      <td><a href="/media/{{key7.j5_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j6_name %}
    <tr>
      <td>{{ key7.j6_name }}</td>
      <td>{{ key7.j6_title }}</td>
      <td>{{ key7.j6_volume }}</td>
      <td>{{ key7.j6_date }}</td>
      <td>{{ key7.j6_index }}</td>
      <td>{{ key7.j6_issn }}</td>
      <td>{{ key7.j6_page }}</td>
      <td>{{ key7.j6_author }}</td>
      <td><a href="/media/{{key7.j6_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j7_name %}
    <tr>
      <td>{{ key7.j7_name }}</td>
      <td>{{ key7.j7_title }}</td>
      <td>{{ key7.j7_volume }}</td>
      <td>{{ key7.j7_date }}</td>
      <td>{{ key7.j7_index }}</td>
      <td>{{ key7.j7_issn }}</td>
      <td>{{ key7.j7_page }}</td>
      <td>{{ key7.j7_author }}</td>
      <td><a href="/media/{{key7.j7_file}}">Click to view</a></td>


    </tr>
    {% endif %}
    {% if key7.j8_name %}
    <tr>
      <td>{{ key7.j8_name }}</td>
      <td>{{ key7.j8_title }}</td>
      <td>{{ key7.j8_volume }}</td>
      <td>{{ key7.j8_date }}</td>
      <td>{{ key7.j8_index }}</td>
      <td>{{ key7.j8_issn }}</td>
      <td>{{ key7.j8_page }}</td>
      <td>{{ key7.j8_author }}</td>
      <td><a href="/media/{{key7.j8_file}}">Click to view</a></td>

    </tr>
    {% endif %}

  </tbody>
</table>
    </div>
		<div class="card">
	    <div class="card-header" id="headingThree">
	      <h3 class="">
	        <button class="btn btn-link collapsed fo1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	         3C: Number of Books/Book chapter Published/Publication in News media<span class="fo1">(Maximum Score: 10 marks)</span>
	        </button>
	      </h3>
	    </div>

	        <div class="form-row dis">
	          <div class="form-group col-md-6">
	              <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book Authored  International (10 marks/Book)">

	          </div>
	        <div class="form-group col-md-6">

	           {{ key4.book_i }}
	        </div>

	        <div class="form-group col-md-6">
	          <label>Documents:</label>
	          {% if key4.book_i_file %}
	           <a href="/media/{{key4.book_i_file}}">Click to view</a>
	            {% else %}
	            <a href="#"></a>
	            {% endif %}

	        </div>
	    </div>

	    <div class="form-row dis">
	          <div class="form-group col-md-6">
	                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book Authored  National (08 marks/Book)">

	          </div>
	        <div class="form-group col-md-6">

	          {{ key4.book_n }}
	        </div>
	        <div class="form-group col-md-6">
	          <label>Documents:</label>
	          {% if key4.book_n_file %}
	           <a href="/media/{{key4.book_n_file}}">Click to view</a>
	            {% else %}
	            <a href="#"></a>
	            {% endif %}

	        </div>
	    </div>

	    <div class="form-row dis">
	          <div class="form-group col-md-6">
	                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book chapterAuthored  International (06 marks/Book Chapter)">

	          </div>
	        <div class="form-group col-md-6">

	          {{ key4.book_ci }}
	        </div>
	        <div class="form-group col-md-6">
	          <label>Documents:</label>
	          {% if key4.book_ci_file %}
	           <a href="/media/{{key4.book_ci_file}}">Click to view</a>
	            {% else %}
	            <a href="#"></a>
	            {% endif %}

	        </div>
	    </div>

	    <div class="form-row dis">
	          <div class="form-group col-md-6">
	                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book chapterAuthored  National (04 marks/Book Chapter)">

	          </div>
	        <div class="form-group col-md-6">
	          {{ key4.book_cn }}
	        </div>
	        <div class="form-group col-md-6">
	          <label>Documents:</label>
	          {% if key4.book_cn_file %}
	           <a href="/media/{{key4.book_cn_file}}">Click to view</a>
	            {% else %}
	            <a href="#"></a>
	            {% endif %}

	        </div>
	    </div>

	    <div class="form-row dis">
	          <div class="form-group col-md-6">
	                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Articles Published in International (10 marks/Article)">

	          </div>
	        <div class="form-group col-md-6">

	          {{ key4.book_ai }}
	        </div>
	        <div class="form-group col-md-6">
	          <label>Documents:</label>
	          {% if key4.book_ai_file %}
	           <a href="/media/{{key4.book_ai_file}}">Click to view</a>
	            {% else %}
	            <a href="#"></a>
	            {% endif %}

	        </div>
	    </div>

	    <div class="form-row dis">
	          <div class="form-group col-md-6">
	                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="National  Media (06 marks/Article)">

	          </div>
	        <div class="form-group col-md-6">

	          {{ key4.book_nm }}
	        </div>
	        <div class="form-group col-md-6">
	          <label>Documents:</label>
	          {% if key4.book_nm_file %}
	           <a href="/media/{{key4.book_nm_file}}">Click to view</a>
	            {% else %}
	            <a href="#"></a>
	            {% endif %}

	        </div>
	    </div>

	    <div class="form-row dis">
	          <div class="form-group col-md-6">


	          </div>
	        <div class="form-group col-md-6">

	                 <div class="form-row">
										 <div clas="col-md-9">
	                       <h6 class=" color1">TOTAL MARKS<span class="sp"></span></h6>
	                     {{ key4.book_m }}
	                     </div>
											 <div class="col-md-3"></div>

	</div>



	   </div>
	        </div>
	    </div>
<!-- </form> -->
  </div>
</div>
<div class="card ">

    <div class="card-header" id="headingTwo">
      <h3 class="mb-0">
        <button class="btn btn-link collapsed fo1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

3D: Research Project<span class="sp">(Maximum Score: 5 marks)</span>
        </button>
      </h3>
    </div>
        </button>
        <h5>Funded Projects</h5>
	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Funding</th>
      <th scope="col">Being Sole Principal Investigator</th>
      <th scope="col">Being first Principal Investigator</th>
      <th scope="col">Being Co-Investigator</th>
      <th scope="col">Documents</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Internally Funded<span class="sp">( 5 marks/project)</span></th>
      <td>{{ key4.if_s }}</td>
      <td>{{ key4.if_f }}</td>
      <td>{{ key4.if_c }}</td>
      <td>
        {% if key4.if_file %}
           <a href="/media/{{key4.if_file}}">Click to view</a>
            {% else %}
            <a href="#"></a>
            {% endif %}</td>
    </tr>
    <tr>
      <th scope="row">Externally Funded Less than 5_Lakhs<span class="sp">( 5 marks/project )</span> </th>
      <td>{{ key4.ef_s }}</td>
      <td>{{ key4.ef_f }}</td>
      <td>{{ key4.ef_c }}</td>
      <td>{% if key4.ef_file %}
           <a href="/media/{{key4.ef_file}}">Click to view</a>
            {% else %}
            <a href="#"></a>
            {% endif %}</td>
    </tr>
    <tr>
      <th scope="row">Externally Funded more than 5_Lakhs<span class="sp"> (10 marks/project)</span> </th>
      <td>{{ key4.eef_s }}</td>
      <td>{{ key4.eef_f }}</td>
      <td>{{ key4.eef_c }}</td>
      <td>{% if key4.eef_file %}
           <a href="/media/{{key4.eef_file}}">Click to view</a>
            {% else %}
            <a href="#"></a>
            {% endif %}</td>
    </tr>
    <tr>

  </tbody>
</table>
<h5>Consultancy Work</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Funding</th>
      <th scope="col">Upto 2 Lakhs</th>
      <th scope="col">Documents(Upto 2 Lakhs)</th>
      <th scope="col">Upto 2-5 Lakhs</th>
      <th scope="col">Documents(Upto 2-5 Lakhs)</th>
      <th scope="col">Above 5 Lakhs</th>
      <th scope="col">Documents(Above 5 Lakhs)</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">Consultancy Work</th>
      <td>{{ key4.Cw_2 }}</td>
      <td>
        {% if key4.Cw_2_file %}
           <a href="/media/{{key4.Cw_2_file}}"></a>
            {% else %}
            <a href="#"></a>
            {% endif %}</td>
      <td>{{ key4.Cw_2_5 }}</td>
      <td>{% if key4.Cw_2_5_file %}
           <a href="/media/{{key4.Cw_2_5_file}}"></a>
            {% else %}
            <a href="#"></a>
            {% endif %}</td>
      <td>{{ key4.Cw_5 }}</td>
      <td>{% if key4.Cw_5_file %}
           <a href="/media/{{key4.Cw_5_file}}"></a>
            {% else %}
            <a href="#"></a>
            {% endif %}</td>
    </tr>
    </tbody>
</table>
<div class="card poi">

<div class="form-group ">





                    <div class="form-group col-md-6">
<label for="inputResearch">Marks Here:</label>
                      {{ key4.rp_marks }}

                          </div>

                      </div>

 <div class="form-group row">




        <div class="form-group col-md-6">
          <h4>IPR Type :</h4>
        {{ key4.ipr_type }}
        </div>
        <div class="form-group col-md-6">
          <h4>IPR Status :</h4>
         {{ key4.ipr_status }}
</div>

 </div>

  <div class="form-group col-md-12">
<label>Details</label>
{{ key4.ipr_info }}

</div>
<div class="form-group col-md-12">
<label>IPR File</label>
{% if key4.ipr_file %}
           <a href="/media/{{key4.ipr_file}}"></a>
            {% else %}
            <a href="#"></a>
            {% endif %}

</div>
 </div>

</div>
<div class="card po card-header" id="headingOne">
<div class="form-group">
<div class="form-row dis">
<div class="col-1"></div>
<div class="col-10">
 <div class="form-row">
               <div class="orm-group col-md-6">
              <h6 class=" color1">TOTAL MARKS<span class="sp">(Maximum Score: 35)</span></h6>
               </div>

                  <div class="orm-group col-md-6 m2">
									<h2 style="color:#1844f1;">{{ key4.rd_tot_marks }}</h2>
                        </div>
                    </div>
</div>
<div class="col-1"></div>
</div>

<div class="form-row dis">
<div class="col-4"></div>
<div class="col-4">

<div class="col-4"></div>
</div>
</div>
</div>

</div>
<div class="card poi">

	<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Innovative contributions to teaching learning process provide description below with Initiation,Implementation, Impact Analysis<span class="sp">(Maximum Score: 5 marks)</span></th>
      <th scope="col">HOD MARKS-1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ key5.ta_ic }}</td>
       <td rowspan="3" class="fo1"><h3 style="color:#1844f1;">{{ key8.hod_marks1 }}</h3></td>
    </tr>

  </tbody>
</table>


	<table class="table table-bordered po">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Departmental  Responsibilities (Please list only those where you have made significant contribution)</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ key5.ta_dr }}</td>

    </tr>

  </tbody>
</table>




<div class="card poi ">
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Attitude and Commitment to Departmental and Regular Teaching and Examination works:<span class="sp">(Maximum Score: 15 marks)</span></th>
      <th scope="col">HOD MARKS-2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Contribution to Department Developmental Activites<span class="sp"> (Maximum Score: 5 marks)</span></td>
       <td  class="m4" >{{ key8.hod_marks2_1 }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Attitude/Behaviour/Discipline/Punctuality<span class="sp"> (Maximum Score: 5 marks)</span></td>
      <td class="fo1">{{ key8.hod_marks2_2 }}</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Examination/Test duties, Question paper preparation, Evaluation Preparation of Course material and Dedicaton in conducting Theory and Laboratory classes<span class="sp"> (Maximum Score: 5 marks)</span></td>
      <td  class="fo1">{{ key8.hod_marks2_3 }}</td>

    </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td class="fo1" style="font-size:55px">{{ key8.hod_marks2 }}</td>
    </tr>
  </tbody>
</table>

</div>

<div class="card po">
 <div class="input-group text12">
  <div class="input-group-prepend">
    <span class="input-group-text">Brief Remarks of the HOD</span>
  </div>
{{ key8.ta_hod_remarks }}</div>
</div>

<div class="form-row dis">
            <div class="form-group col-md-6">
                          <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Ajust/Normalize Marks(if any)">

            </div>
          <div class="form-group col-md-6 m7"">
            {{ key8.marks_deduce }}
          </div>
          <div class="form-group col-md-12">
            <h4>Reason:</h4>
            {{ key8.reason }}
          </div>
      </div>

<table class="table table-bordered po">
<thead class="thead-dark">
	<tr>
		<th scope="col"></th>
		<th scope="col">Institutional  Responsibilities (Please list only those where you have made significant contribution)</th>

	</tr>
</thead>
<tbody>
	<tr>
		<th scope="row"></th>
		<td>{{ key5.ta_ir }}</td>

	</tr>

</tbody>
</table>



<div class="card po ">
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">PRINCIPAL'S MARKS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contribution to Institutional Developmental Activites<span class="sp">(Maximum Score: 5 marks)</span></td>
       <td rowspan="3" class="fo1"> {% if key9.prin_marks1 == 0 %} {{key9.prin_marks2}} {% else %} {{key9.prin_marks1}} {% endif %}</td>
     </tr>
  </tbody>
</table>
</div>

<div class="card po">
 <div class="input-group text12">
  <div class="input-group-prepend">
    <span class="input-group-text">Brief Remarks of the Principal</span>
  </div>
  {{key9.ta_prin_remarks}}
</div>
</div>

</div>

<div class="card po">
  <div>
    <h4>Reason for marks</h4>
  {{key9.ta_prin_remarks1 }}
</div>
<div class="form-group col-md-4">
  <h4>Bonus/Reduce marks</h4>
{{key9.prin_marks2}}
</div>
</div>

<div class="card poi card-header" id="headingOne">
<div class="form-group">
<div class="form-row dis">
<div class="col-1"></div>
<div class="col-10">
 <div class="form-row dis">
               <div class="orm-group col-md-6">
              <h6 class="color1">TOTAL MARKS<span class="sp">(Maximum Score: 100)</span></h6>
               </div>

                  <div class="form-group col-md-6">
									<span style="font-size:30px; color:#212121;">{{key9.total_marks }}</span>
                        </div>
                    </div>

</div>
<div class="col-1"></div>
</div>

<div class="form-row dis">
<div class="col-4"></div>
<div class="col-4">
 <div class="form-row dis">



</form>
<!-- <button type="button" id="download" class="btn btn-blue-grey btn-lg btn-block">Generate PDF</button></div> -->
<div class="col-4"></div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
<!-- <script>
window.onload = function(e){
html2canvas(document.body).then(function(canvas) {
		canvas.id = "mycanvas";
    document.body.appendChild(canvas).style.visibility = "hidden";
});
var canvas = document.getElementById("mycanvas");
var img = canvas.toDataURL("image/jpeg");
// document.write('<img src="'+img+'"/>');



};


download.addEventListener("click", function() {
	html2canvas(document.body).then(function(canvas) {
			canvas.id = "mycanvas";
	    document.body.appendChild(canvas);
	});
	var canvas = document.getElementById("mycanvas");
  var imgData = canvas.toDataURL("image/jpeg", 1.0);
	var a4 = [1595.28, 1841.89];
  var pdf = new jsPDF('p', 'mm', [1297, 8210]);
	var width = pdf.internal.pageSize.width;
	var height = pdf.internal.pageSize.height;

  pdf.addImage(imgData, 'JPEG',0,0, width, height);
  pdf.save("download.pdf");
}, false);
</script> -->
</body>
</html>
