<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h2>Conference</h2>
	<table>
		<thead>
			<tr>
				<td>Name of Conference</td>
				<td>Title of the paper</td>
				<td>Place</td>
				<td>Date</td>
				<td>Indexed</td>
				<td>Author</td>
			</tr>	
		</thead>
		<tbody>
			<tr>
				<td>{% render_field form6.c1_name class="form-control" %}</td>
				<td>{% render_field form6.c1_title class="form-control" %}</td>
				<td>{% render_field form6.c1_place class="form-control" %}</td>
				<td>{% render_field form6.c1_date class="form-control" %}</td>
				<td>{% render_field form6.c1_index class="form-control" %}</td>
				<td>{% render_field form6.c1_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c2_name class="form-control" %}</td>
				<td>{% render_field form6.c2_title class="form-control" %}</td>
				<td>{% render_field form6.c2_place class="form-control" %}</td>
				<td>{% render_field form6.c2_date class="form-control" %}</td>
				<td>{% render_field form6.c2_index class="form-control" %}</td>
				<td>{% render_field form6.c2_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c3_name class="form-control" %}</td>
				<td>{% render_field form6.c3_title class="form-control" %}</td>
				<td>{% render_field form6.c3_place class="form-control" %}</td>
				<td>{% render_field form6.c3_date class="form-control" %}</td>
				<td>{% render_field form6.c3_index class="form-control" %}</td>
				<td>{% render_field form6.c3_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c4_name class="form-control" %}</td>
				<td>{% render_field form6.c4_title class="form-control" %}</td>
				<td>{% render_field form6.c4_place class="form-control" %}</td>
				<td>{% render_field form6.c4_date class="form-control" %}</td>
				<td>{% render_field form6.c4_index class="form-control" %}</td>
				<td>{% render_field form6.c4_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c5_name class="form-control" %}</td>
				<td>{% render_field form6.c5_title class="form-control" %}</td>
				<td>{% render_field form6.c5_place class="form-control" %}</td>
				<td>{% render_field form6.c5_date class="form-control" %}</td>
				<td>{% render_field form6.c5_index class="form-control" %}</td>
				<td>{% render_field form6.c5_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c6_name class="form-control" %}</td>
				<td>{% render_field form6.c6_title class="form-control" %}</td>
				<td>{% render_field form6.c6_place class="form-control" %}</td>
				<td>{% render_field form6.c6_date class="form-control" %}</td>
				<td>{% render_field form6.c6_index class="form-control" %}</td>
				<td>{% render_field form6.c6_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c7_name class="form-control" %}</td>
				<td>{% render_field form6.c7_title class="form-control" %}</td>
				<td>{% render_field form6.c7_place class="form-control" %}</td>
				<td>{% render_field form6.c7_date class="form-control" %}</td>
				<td>{% render_field form6.c7_index class="form-control" %}</td>
				<td>{% render_field form6.c7_author class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c8_name class="form-control" %}</td>
				<td>{% render_field form6.c8_title class="form-control" %}</td>
				<td>{% render_field form6.c8_place class="form-control" %}</td>
				<td>{% render_field form6.c8_date class="form-control" %}</td>
				<td>{% render_field form6.c8_index class="form-control" %}</td>
				<td>{% render_field form6.c8_author class="form-control" %}</td>
			</tr>
		</tbody>
	</table>

<h2>Journal</h2>

<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Title of the paper</td>
			<td>Volume</td>
			<td>Date</td>
			<td>Indexed</td>
			<td>Issn/Doi no.</td>
			<td>Page</td>
			<td>Author</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{% render_field form.j1_name class="form-control" %}</td>
			<td>{% render_field form.j1_title class="form-control" %}</td>
			<td>{% render_field form.j1_volume class="form-control" %}</td>
			<td>{% render_field form.j1_date class="form-control" %}</td>
			<td>{% render_field form.j1_index class="form-control" %}</td>
			<td>{% render_field form.j1_issn class="form-control" %}</td>
			<td>{% render_field form.j1_page class="form-control" %}</td>
			<td>{% render_field form.j1_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j2_name class="form-control" %}</td>
			<td>{% render_field form.j2_title class="form-control" %}</td>
			<td>{% render_field form.j2_volume class="form-control" %}</td>
			<td>{% render_field form.j2_date class="form-control" %}</td>
			<td>{% render_field form.j2_index class="form-control" %}</td>
			<td>{% render_field form.j2_issn class="form-control" %}</td>
			<td>{% render_field form.j2_page class="form-control" %}</td>
			<td>{% render_field form.j2_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j3_name class="form-control" %}</td>
			<td>{% render_field form.j3_title class="form-control" %}</td>
			<td>{% render_field form.j3_volume class="form-control" %}</td>
			<td>{% render_field form.j3_date class="form-control" %}</td>
			<td>{% render_field form.j3_index class="form-control" %}</td>
			<td>{% render_field form.j3_issn class="form-control" %}</td>
			<td>{% render_field form.j3_page class="form-control" %}</td>
			<td>{% render_field form.j3_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j4_name class="form-control" %}</td>
			<td>{% render_field form.j4_title class="form-control" %}</td>
			<td>{% render_field form.j4_volume class="form-control" %}</td>
			<td>{% render_field form.j4_date class="form-control" %}</td>
			<td>{% render_field form.j4_index class="form-control" %}</td>
			<td>{% render_field form.j4_issn class="form-control" %}</td>
			<td>{% render_field form.j4_page class="form-control" %}</td>
			<td>{% render_field form.j4_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j5_name class="form-control" %}</td>
			<td>{% render_field form.j5_title class="form-control" %}</td>
			<td>{% render_field form.j5_volume class="form-control" %}</td>
			<td>{% render_field form.j5_date class="form-control" %}</td>
			<td>{% render_field form.j5_index class="form-control" %}</td>
			<td>{% render_field form.j5_issn class="form-control" %}</td>
			<td>{% render_field form.j5_page class="form-control" %}</td>
			<td>{% render_field form.j5_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j6_name class="form-control" %}</td>
			<td>{% render_field form.j6_title class="form-control" %}</td>
			<td>{% render_field form.j6_volume class="form-control" %}</td>
			<td>{% render_field form.j6_date class="form-control" %}</td>
			<td>{% render_field form.j6_index class="form-control" %}</td>
			<td>{% render_field form.j6_issn class="form-control" %}</td>
			<td>{% render_field form.j6_page class="form-control" %}</td>
			<td>{% render_field form.j6_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j7_name class="form-control" %}</td>
			<td>{% render_field form.j7_title class="form-control" %}</td>
			<td>{% render_field form.j7_volume class="form-control" %}</td>
			<td>{% render_field form.j7_date class="form-control" %}</td>
			<td>{% render_field form.j7_index class="form-control" %}</td>
			<td>{% render_field form.j7_issn class="form-control" %}</td>
			<td>{% render_field form.j7_page class="form-control" %}</td>
			<td>{% render_field form.j7_author class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form.j8_name class="form-control" %}</td>
			<td>{% render_field form.j8_title class="form-control" %}</td>
			<td>{% render_field form.j8_volume class="form-control" %}</td>
			<td>{% render_field form.j8_date class="form-control" %}</td>
			<td>{% render_field form.j8_index class="form-control" %}</td>
			<td>{% render_field form.j8_issn class="form-control" %}</td>
			<td>{% render_field form.j8_page class="form-control" %}</td>
			<td>{% render_field form.j8_author class="form-control" %}</td>
		</tr>

	</tbody>
</table>
	
</body>
</html>