
<!DOCTYPE html>

{% load staticfiles %}

{% load widget_tweaks %}

<html>



<head>

	<title>asp1</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>



<script type="text/javascript" src={% static "js/asc.js" %}></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js"></script>

  </head>
  <body style="background:#ccccb3">
	<!--	<marquee height="40px;" direction = "right" style="background:#7c4dff"><span style="color:#ffffff;">Cumulative file size shouldn't exceeds <strong>1MB</strong></span></marquee> -->

		<div class="device pull-right" style="margin:1%;"><a style="color:#f5f5f5;" class="badge badge-danger" href="/logout">Logout</a></div>


    <div class="jumbotron" style="background:#736de3">


    <div class="container-fluid">
    <center><img  width="125px" src="{% static "image/bms.logo.png" %}" alt="" ></center>
    <div class="row">

     <div class="col-12"><h1 align="center" class="display-4" style="color:#f5f5f5"> BMS Institute of Technology and management</h1>
       <h3 class="lead" style="color:white" align="center">Faculty Appraisal Form</h3>
         <h3 class="lead" style="color:white" align="center">1-Aug-2018 to 31-Jul-2019</h3>
				 <h3 class="lead" style="color:white" align="center">Department : {{info.department}}</h3>
       <!--<hr class="my-4" style="color:white">
       <h5 style="color:white; margin-left:108px;">Internship Report must be submitted.</h5>-->
     </div>
     </div>
    </div>
    </div>



	<div class="container" style="background:#6666ff">
	<marquee height="50px;" direction = "right" style="background:#7c4dff"><span style="color:#ffffff;"><strong>DO NOT ENTER ZERO IF DATA IS NOT APPLICABLE</strong></span></marquee>

 



      <form method="POST" enctype = "multipart/form-data">

         {% csrf_token %}
        <div class=" poi form-row">

          <div class="form-group col-md-4">

            <label for="" style="color:white">Internship Company Name 1</label>

            {% render_field form2.it1_name class="form-control" %}

          </div>

          <div class="form-group col-md-3">

            <label for="" style="color:white">From</label>

            {% render_field form2.it1_f class="form-control" id="datepicker" placeholder="YYYY-MM-DD" %}

          </div>

          <div class="form-group col-md-3">

            <label for="" style="color:white">To</label>

            {% render_field form2.it1_t class="form-control" id="datepicker1" placeholder="YYYY-MM-DD" %}

          </div>
					<div class="form-group col-md-2">

            <label for="" style="color:white">Internship Report</label>

            {% render_field form2.internship_report_file1 class="form-control" id="datepicker1" placeholder="YYYY-MM-DD" %}

          </div>





					<div class="form-group col-md-4">

						<label for="" style="color:white">Internship Company Name 2</label>

						{% render_field form2.it2_name class="form-control" %}

					</div>

					<div class="form-group col-md-3">

						<label for="" style="color:white">From</label>

						{% render_field form2.it2_f class="form-control" id="datepicker2" placeholder="YYYY-MM-DD" %}

					</div>

					<div class="form-group col-md-3">

						<label for="" style="color:white">To</label>

						{% render_field form2.it2_t class="form-control" id="datepicker3" placeholder="YYYY-MM-DD" %}

					</div>
					<div class="form-group col-md-2">

            <label for="" style="color:white">Internship Report</label>

            {% render_field form2.internship_report_file2 class="form-control" id="datepicker1" placeholder="YYYY-MM-DD" %}

          </div>






					<div class="form-group col-md-4">

						<label for="" style="color:white">Internship Company Name 3</label>

						{% render_field form2.it3_name class="form-control" %}

					</div>

					<div class="form-group col-md-3">

						<label for="" style="color:white">From</label>

						{% render_field form2.it3_f class="form-control" id="datepicker4" placeholder="YYYY-MM-DD" %}

					</div>

					<div class="form-group col-md-3">

						<label for="" style="color:white">To</label>

						{% render_field form2.it3_t class="form-control" id="datepicker5" placeholder="YYYY-MM-DD" %}

					</div>
					<div class="form-group col-md-2">

            <label for="" style="color:white">Internship Report</label>

            {% render_field form2.internship_report_file3 class="form-control" id="datepicker1" placeholder="YYYY-MM-DD" %}

          </div>


					<div class="form-group col-md-12">

						<label for="" style="color:white">If you want to fill more data , Please enter here :</label>

						{% render_field form2.more class="form-control" %}

					</div>




          <div class="form-group col-md-6">

            <label for="inputEmpName" style="color:white">Employee Name</label>

            <input type="text" class="form-control" id="inputEmpName" disabled value="{{info.first_name}}">

          </div>

        <div class="form-group col-md-6">

            <label for="inputEmployeeIdNo" style="color:white">Username</label>

            <input type="text" class="form-control" id="inputEmployeeIdNo" disabled value="{{info.username}}">

        </div>

        <div class="form-group col-md-6">

            <label for="inputHighestQuali" style="color:white">Highest Qualification</label>

            {% render_field form2.high_qual class="form-control" %}

        </div>

        <div class="form-group col-md-6">

          <label for="inputDept" style="color:white">Department</label>

          <input type="text" class="form-control" id="inputEmployeeIdNo" disabled value="{{info.department}}">

        </div>

        <div class="form-group col-md-12">

          <label for="inputDOJ" style="color:white">Date of joining</label>

          {% render_field form2.doj class="form-control" id="datepicker6" placeholder="YYYY-MM-DD" %}

        </div>

        <div class="form-group col-md-6">

          <label for="inputPresentPosition" style="color:white">Designation</label>

					<input type="text" class="form-control" id="inputEmployeeIdNo" disabled value="{{info.designation}}">

        </div>

        <div class="form-group col-md-6">

          <label for="inputHeldFrom" style="color:white">Held From</label>

          {% render_field form2.Held_from class="form-control" id="datepicker7" placeholder="YYYY-MM-DD" %}

        </div>



        <div class="form-group col-md-6">

          <label for="inputPhoneNo" style="color:white">Phone No.</label>

          <input type="text" class="form-control" id="inputPhoneNo" placeholder="PhoneNo" value="{{info.phone}}">

        </div>

        <div class="form-group col-md-6">

          <label for="inputEmail" style="color:white">Email Address</label>

          <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{info.email}}">

        </div>



        <h3 style="color:white">Experience</h3>

          <div class="row form-group col-md-12">



      	   <div class="form-group col-md-4">

            <label for="inputteaching" style="color:white">Teaching</label>

					  {% render_field form2.exp_teach class="form-control" %}


           </div>

            <div class="form-group col-md-4">

              <label for="inputResearch" style="color:white">Research</label>

              {% render_field form2.exp_res class="form-control" %}

            </div>

            <div class="form-group col-md-4">

              <label for="inputIndustry" style="color:white">Industry</label>

            {% render_field form2.exp_indus class="form-control" %}

            </div>

	       </div>

	   </div>



      <div class="form-group col-md-6">



								<h5 class="po color2" style="color:white">Month of increment</h5>

			               <div class="form-group col-md-6">

			                    {% render_field form2.month_of_increment class="form-control " %}

			                </div>







<center><input type="submit" class="btn btn-success btn-lg " value="Save and Continue" ></center>


</form>
</div>


 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker1" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker2" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker3" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
	$( "#datepicker4" ).datepicker({
	  dateFormat: "yy-mm-dd"
  });
  $( "#datepicker5" ).datepicker({
  	dateFormat: "yy-mm-dd"
  });
  $( "#datepicker6" ).datepicker({
   dateFormat: "yy-mm-dd"
  });
  $( "#datepicker7" ).datepicker({
   dateFormat: "yy-mm-dd"
  });
  } );
  </script>





</body>

</html>
