<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>Title of the paper</td>
				<td>Place</td>
				<td>Date</td>
				<td>Indexed</td>
				<td>Author</td>
			</tr>	
		</thead>
		<tbody>
			<tr>
				<td>{% render_field form4.c_title class="form-control" %}</td>
				<td>{% render_field form4.c_place class="form-control" %}</td>
				<td>{% render_field form4.c_date class="form-control" %}</td>
				<td>{% render_field form4.c_index class="form-control" %}</td>
				<td>{% render_field form4.c_author class="form-control" %}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>