<!DOCTYPE html>
{% load staticfiles %}

{% load widget_tweaks %}
<html>

<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js"></script>

</head>
<body style="background-color:#c3cffa">


	<div class="device pull-right" style="margin:1%;"><a style="color:#f5f5f5;" class="badge badge-danger" href="/logout">Logout</a></div>


    <div class="jumbotron" style="background:#736de3">



    <div class="container-fluid">
    <center><img  width="125px" src="{% static "image/bms.logo.png" %}" alt="BMS Institute of Technology of management" ></center>
    <div class="row">

     <div class="col-12"><h1 align="center" class="display-4" style="color:#f5f5f5"> BMS Institute of Technology and management</h1>
       <h3 class="lead" style="color:white" align="center">Faculty Appraisal Form</h3>
         <h3 class="lead" style="color:white" align="center">1-Aug-2018 to 31-Jul-2019</h3>
       <hr class="my-4" style="color:white">
     </div>
     </div>
    </div>
    </div>

<div class="container">
	<div class="col-sm-12">
		<a href="{% url 'facform1:f_associate_edit4' y %}"><button type="button" name="button" class="btn btn-info btn-sm btn-block">GO BACK</button></a></div>
		<marquee height="50px;" direction = "right" style="background:#7c4dff"><span style="color:#ffffff;"><strong>DO NOT ENTER ZERO IF DATA IS NOT APPLICABLE</strong></span></marquee>
	<form method="POST" enctype = "multipart/form-data">
		 {% csrf_token %}
		 <h2>Publishing details of 01-08-18 to 31-07-19 only to be filled</h2>
	<h2>Details of Non-Indexed Papers Published In Conference/Journal</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Name of Conference</td>
				<td>Title of the paper</td>
				<td>Place</td>
				<td>Date</td>
				<td>Index</td>
				<td>Author</td>
				<td>Documents</td>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% render_field form6.c1_name class="form-control" %}</td>
				<td>{% render_field form6.c1_title class="form-control" %}</td>
				<td>{% render_field form6.c1_place class="form-control" %}</td>
				<td>{% render_field form6.c1_date class="form-control" %}</td>
				<td>{% render_field form6.c1_index class="form-control" %}</td>
				<td>{% render_field form6.c1_author class="form-control" %}</td>
				<td>{% render_field form6.c1_file class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c2_name class="form-control" %}</td>
				<td>{% render_field form6.c2_title class="form-control" %}</td>
				<td>{% render_field form6.c2_place class="form-control" %}</td>
				<td>{% render_field form6.c2_date class="form-control" %}</td>
				<td>{% render_field form6.c2_index class="form-control" %}</td>
				<td>{% render_field form6.c2_author class="form-control" %}</td>
				<td>{% render_field form6.c2_file class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c3_name class="form-control" %}</td>
				<td>{% render_field form6.c3_title class="form-control" %}</td>
				<td>{% render_field form6.c3_place class="form-control" %}</td>
				<td>{% render_field form6.c3_date class="form-control" %}</td>
				<td>{% render_field form6.c3_index class="form-control" %}</td>
				<td>{% render_field form6.c3_author class="form-control" %}</td>
				<td>{% render_field form6.c3_file class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c4_name class="form-control" %}</td>
				<td>{% render_field form6.c4_title class="form-control" %}</td>
				<td>{% render_field form6.c4_place class="form-control" %}</td>
				<td>{% render_field form6.c4_date class="form-control" %}</td>
				<td>{% render_field form6.c4_index class="form-control" %}</td>
				<td>{% render_field form6.c4_author class="form-control" %}</td>
				<td>{% render_field form6.c4_file class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c5_name class="form-control" %}</td>
				<td>{% render_field form6.c5_title class="form-control" %}</td>
				<td>{% render_field form6.c5_place class="form-control" %}</td>
				<td>{% render_field form6.c5_date class="form-control" %}</td>
				<td>{% render_field form6.c5_index class="form-control" %}</td>
				<td>{% render_field form6.c5_author class="form-control" %}</td>
				<td>{% render_field form6.c5_file class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c6_name class="form-control" %}</td>
				<td>{% render_field form6.c6_title class="form-control" %}</td>
				<td>{% render_field form6.c6_place class="form-control" %}</td>
				<td>{% render_field form6.c6_date class="form-control" %}</td>
				<td>{% render_field form6.c6_index class="form-control" %}</td>
				<td>{% render_field form6.c6_author class="form-control" %}</td>
				<td>{% render_field form6.c6_file class="form-control" %}</td>
			</tr>
			<tr>
				<td>{% render_field form6.c7_name class="form-control" %}</td>
				<td>{% render_field form6.c7_title class="form-control" %}</td>
				<td>{% render_field form6.c7_place class="form-control" %}</td>
				<td>{% render_field form6.c7_date class="form-control" %}</td>
				<td>{% render_field form6.c7_index class="form-control" %}</td>
				<td>{% render_field form6.c7_author class="form-control" %}</td>
				<td>{% render_field form6.c7_file class="form-control" %}</td>

			</tr>
			<tr>
				<td>{% render_field form6.c8_name class="form-control" %}</td>
				<td>{% render_field form6.c8_title class="form-control" %}</td>
				<td>{% render_field form6.c8_place class="form-control" %}</td>
				<td>{% render_field form6.c8_date class="form-control" %}</td>
				<td>{% render_field form6.c8_index class="form-control" %}</td>
				<td>{% render_field form6.c8_author class="form-control" %}</td>
				<td>{% render_field form6.c8_file class="form-control" %}</td>
			</tr>
		</tbody>
	</table>

<h2>Details of Indexed Papers Published In Conference/Journal</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Name</td>
			<td>Title of the paper</td>
			<td>Volume</td>
			<td>Date</td>
			<td>Indexed</td>
			<td>Issn/Doi no.</td>
			<td>Page</td>
			<td>Author</td>
			<td>Documents</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{% render_field form7.j1_name class="form-control" %}</td>
			<td>{% render_field form7.j1_title class="form-control" %}</td>
			<td>{% render_field form7.j1_volume class="form-control" %}</td>
			<td>{% render_field form7.j1_date class="form-control" %}</td>
			<td>{% render_field form7.j1_index class="form-control" %}</td>
			<td>{% render_field form7.j1_issn class="form-control" %}</td>
			<td>{% render_field form7.j1_page class="form-control" %}</td>
			<td>{% render_field form7.j1_author class="form-control" %}</td>
				<td>{% render_field form7.j1_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j2_name class="form-control" %}</td>
			<td>{% render_field form7.j2_title class="form-control" %}</td>
			<td>{% render_field form7.j2_volume class="form-control" %}</td>
			<td>{% render_field form7.j2_date class="form-control" %}</td>
			<td>{% render_field form7.j2_index class="form-control" %}</td>
			<td>{% render_field form7.j2_issn class="form-control" %}</td>
			<td>{% render_field form7.j2_page class="form-control" %}</td>
			<td>{% render_field form7.j2_author class="form-control" %}</td>
				<td>{% render_field form7.j2_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j3_name class="form-control" %}</td>
			<td>{% render_field form7.j3_title class="form-control" %}</td>
			<td>{% render_field form7.j3_volume class="form-control" %}</td>
			<td>{% render_field form7.j3_date class="form-control" %}</td>
			<td>{% render_field form7.j3_index class="form-control" %}</td>
			<td>{% render_field form7.j3_issn class="form-control" %}</td>
			<td>{% render_field form7.j3_page class="form-control" %}</td>
			<td>{% render_field form7.j3_author class="form-control" %}</td>
				<td>{% render_field form7.j3_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j4_name class="form-control" %}</td>
			<td>{% render_field form7.j4_title class="form-control" %}</td>
			<td>{% render_field form7.j4_volume class="form-control" %}</td>
			<td>{% render_field form7.j4_date class="form-control" %}</td>
			<td>{% render_field form7.j4_index class="form-control" %}</td>
			<td>{% render_field form7.j4_issn class="form-control" %}</td>
			<td>{% render_field form7.j4_page class="form-control" %}</td>
			<td>{% render_field form7.j4_author class="form-control" %}</td>
				<td>{% render_field form7.j4_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j5_name class="form-control" %}</td>
			<td>{% render_field form7.j5_title class="form-control" %}</td>
			<td>{% render_field form7.j5_volume class="form-control" %}</td>
			<td>{% render_field form7.j5_date class="form-control" %}</td>
			<td>{% render_field form7.j5_index class="form-control" %}</td>
			<td>{% render_field form7.j5_issn class="form-control" %}</td>
			<td>{% render_field form7.j5_page class="form-control" %}</td>
			<td>{% render_field form7.j5_author class="form-control" %}</td>
				<td>{% render_field form7.j5_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j6_name class="form-control" %}</td>
			<td>{% render_field form7.j6_title class="form-control" %}</td>
			<td>{% render_field form7.j6_volume class="form-control" %}</td>
			<td>{% render_field form7.j6_date class="form-control" %}</td>
			<td>{% render_field form7.j6_index class="form-control" %}</td>
			<td>{% render_field form7.j6_issn class="form-control" %}</td>
			<td>{% render_field form7.j6_page class="form-control" %}</td>
			<td>{% render_field form7.j6_author class="form-control" %}</td>
				<td>{% render_field form7.j6_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j7_name class="form-control" %}</td>
			<td>{% render_field form7.j7_title class="form-control" %}</td>
			<td>{% render_field form7.j7_volume class="form-control" %}</td>
			<td>{% render_field form7.j7_date class="form-control" %}</td>
			<td>{% render_field form7.j7_index class="form-control" %}</td>
			<td>{% render_field form7.j7_issn class="form-control" %}</td>
			<td>{% render_field form7.j7_page class="form-control" %}</td>
			<td>{% render_field form7.j7_author class="form-control" %}</td>
				<td>{% render_field form7.j7_file class="form-control" %}</td>
		</tr>
		<tr>
			<td>{% render_field form7.j8_name class="form-control" %}</td>
			<td>{% render_field form7.j8_title class="form-control" %}</td>
			<td>{% render_field form7.j8_volume class="form-control" %}</td>
			<td>{% render_field form7.j8_date class="form-control" %}</td>
			<td>{% render_field form7.j8_index class="form-control" %}</td>
			<td>{% render_field form7.j8_issn class="form-control" %}</td>
			<td>{% render_field form7.j8_page class="form-control" %}</td>
			<td>{% render_field form7.j8_author class="form-control" %}</td>
				<td>{% render_field form7.j8_file class="form-control" %}</td>
		</tr>

	</tbody>
</table>


 <input type="submit" class="btn btn-success btn-lg btn-block"></button>


 </form>
</div>

</body>
</html>
