
<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>

<head>
	<title>asp1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- <script type="text/javascript" src={% static "js/h.js" %}></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->

<!-- MDB core JavaScript -->




  </head>
	<body style="background:#c3d1f8">
		<div class="device pull-right" style="margin:1%;"><a style="color:#f5f5f5;" class="badge badge-danger" href="/logout">Logout</a></div>


		<div class="jumbotron" style="background:#736de3">

		<div class="container-fluid">
		<center><img  width="125px" src="{% static "image/bms.logo.png" %}" alt="BMS Institute of Technology of management" ></center>
		<div class="row">

		 <div class="col-12"><h1 align="center" class="display-4" style="color:#f5f5f5"> BMS Institute of Technology and management</h1>
			 <h3 class="lead" style="color:white" align="center">Faculty Appraisal Form</h3>
				 <h3 class="lead" style="color:white" align="center">1-Aug-2018 to 31-Jul-2019</h3>
			 <hr class="my-4" style="color:white">
			 <h5 style="color:white; margin-left:108px;">Report must be submitted.</h5>
		 </div>
		 </div>
		</div>
		</div>

	<div class="container" >

		 <form method="POST">

				 {% csrf_token %}

	<div class="card poi">



	<div class="card po">

	<h5 class="po"> Innovative contributions to teaching learning process provide description below with Initiation,Implementation, Impact Analysis<span class="sp" style="color:#ff0808">(Maximum Score: 5 marks)</span></h5>

	<div class="input-group text7">

	<div class="input-group-prepend">

	</div>

	<input type="text" class="form-control" disabled value="{{key5.ta_ic}}">

	<input type="text" class="form-control col-md-2 poi" placeholder="marks" aria-label="Username" aria-describedby="basic-addon1" disabled >

	</div>

	</div>



	<div class="card dis1 po">

	<h5 class="po">Departmental  Responsibilities (Please list only those where you have made significant contribution)</h5>

	<div class="input-group text7">

	<input type="text" class="form-control" disabled value="{{key5.ta_dr}}">

	</div>

	</div>



	<div class="card dis1 ">

	<table class="table table-bordered">

	<thead class="thead-dark">

		<tr>

			<th scope="col"></th>

			<th scope="col">Attitude and Commitment to Departmental and Regular Teaching and Examination works:<span class="sp" style="color:#ff0808">(Maximum Score: 15 marks)</span></th>

			<th scope="col">HOD'S MARKS</th>

		</tr>

	</thead>

	<tbody>

		<tr>

			<th scope="row">1</th>

			<td>Contribution to Department Developmental Activites<span class="sp" style="color:#ff0808"> (Maximum Score: 5 marks)</span></td>

			 <td rowspan="3"><input type="text" class="form-control" placeholder="marks" aria-label="Username" aria-describedby="basic-addon1" disabled></td>

		</tr>

		<tr>

			<th scope="row">2</th>

			<td>Attitude/Behaviour/Discipline/Punctuality<span class="sp"> (Maximum Score: 5 marks)</span></td>





		</tr>

		<tr>

			<th scope="row">3</th>

			<td>Examination/Test duties, Question paper preparation, Evaluation Preparation of Course material and Dedicaton in conducting Theory and Laboratory classes<span class="sp" style="color:#ff0808"> (Maximum Score: 5 marks)</span></td>



		</tr>

	</tbody>

	</table>



	</div>



	<div class="card dis1">

	<div class="input-group text12">

	<div class="input-group-prepend">

		<span class="input-group-text">Brief Remarks of the HOD</span>

	</div>

	<textarea class="form-control" disabled aria-label="With textarea"></textarea>

	</div>

	</div>



	<div class="card po dis1">

	<h5 class="po">Institutional  Responsibilities (Please list only those where you have made significant contribution)</h5>

	<div class="input-group text7">

	<div class="input-group-prepend">



	</div>

	 <input type="text" class="form-control" disabled value="{{key5.ta_ir}}">
	</div>

	</div>



	<div class="card dis1 ">

	<table class="table table-bordered">

	<thead class="thead-dark">

		<tr>

			<th scope="col"></th>

			<th scope="col">PRINCIPAL'S MARKS</th>

		</tr>

	</thead>

	<tbody>

		<tr>

			<td>Contribution to Institutional Developmental Activites<span class="sp" style="color:#ff0808">(Maximum Score: 5 marks)</span></td>

			 <td rowspan="3"><input type="text" class="form-control" placeholder="marks" aria-label="Username" aria-describedby="basic-addon1" disabled></td>

		 </tr>

	</tbody>

	</table>

	</div>



	<div class="card dis1">

	<div class="input-group text12">

	<div class="input-group-prepend">

		<span class="input-group-text">Brief Remarks of the Principal</span>

	</div>

	<textarea class="form-control" aria-label="With textarea" disabled></textarea>

	</div>

	</div>

	</div>

	<div class="card poi card-header" id="headingOne">

	<div class="form-group">

	<div class="form-row dis">

	<div class="col-1"></div>

	<div class="col-10">

	<div class="form-row dis">

							 <div class="orm-group col-md-6">

							<h6 class="po color2">TOTAL MARKS<span class="sp" style="color:#ff0808">_(Maximum Score: 100)</span></h6>

							 </div>



									<div class="orm-group col-md-6">

									<input type="text" class="form-control"  placeholder="Calculated Marks"  disabled>

												</div>

										</div>

	</div>

	<div class="col-1"></div>

	</div>



	<div class="form-row dis">

	<div class="col-4"></div>

	<div class="col-4">


	<div class="col-4"></div>

	</div>

	</div>

	</div>
	</form>
	<div class="form-row form-group ">

	<div class="form-group col-md-5">
	<a href="{% url 'facform1:f_assistant_edit4' key5.year %}"><button type="button" name="button" class="btn btn-info btn-sm btn-block">GO BACK</button></a></div>
	 <div class="form-group col-md-1">
	 </div>
	 <div class="form-group col-md-5">
		 <a href="{% url 'facform1:assistant_form5' key5.year %}"><button type="button" name="button" class="btn btn-info btn-sm btn-block">CONTINUE TO Next Form</button></a>
	 </div>



	</div>

  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>









<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>


</html>
