<!-- <!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MMS</title>
    <link rel="stylesheet" href="{% static "css/front.css" %}">
  </head>
  <body>
<section>
<div class="container">
  <div class="login-form">
    <h1>CRITERIA-V</h1>
    <form class="" action="index.html" method="post">
      <a href="/facform1/assistant_form/"><input type="button" class="btn1" name="" value="Assistant professor" ></a>
      <a href="/facform1/associate_form/"><input type="button" class="btn1" name="" value="Associate professor"></a>
      <a href="/facform1/hod_first/"><input type="button" class="btn2" name="" value="HOD"></a>
      <a href="/facform1/principal_first/"><input type="button" class="btn3" name="" value="Principal"></a>
    </form>
  </div>
</div>
</section>

  </body>
</html>
 -->