<html>
 <head>
  <Title>Appraisal</title>
  </head>
  
  <body>

<link rel="stylesheet" type="text/css" href="theme1.css"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<div class="jumbotron p1">

<div class="container-fluid ">

<div class="row">
<div class="col-3"><center><img  src="bmsit1.png" alt="BMS Institute of Technology of management" ></center></div>
 <div class="col-6 q1"><h1 align="center" class="display-4"> HOD'S VIEW</h1>
 <h1 id="qw" align="center" class="display-4"></h1>
 </div>
 </div>
</div>
</div>
<div class="login-page">
  <div style="margin-top:-5%;" class="form">
   
    <p><h3>FACULTY LIST</h3></p>
    <form class="login-form" method="post">
    
    <div class="list-group">
  <button type="button" class="list-group-item list-group-item-action ">
   A
  </button>
  <button type="button" data-toggle="modal" data-target="#cbModal" class="list-group-item list-group-item-action">B</button>
  <button type="button" class="list-group-item list-group-item-action">C</button>
  <button type="button" class="list-group-item list-group-item-action">D</button>
  <button type="button" class="list-group-item list-group-item-action">E</button>
</div>
     
      
    </form>
  </div>
</div>











<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
</body>
</html>