<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>

<head>
  <title>asp1</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src={% static "js/h.js" %}></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js"></script>

  </head>
  <body style="background:#c3d1f8">

    <div class="jumbotron" style="background:#736de3">

    <div class="container-fluid">
    <center><img  width="125px" src="{% static "image/bms.logo.png" %}" alt="BMS Institute of Technology of management" ></center>
    <div class="row">

     <div class="col-12"><h1 align="center" class="display-4" style="color:#f5f5f5"> BMS Institute of Technology and management</h1>
       <h3 class="lead" style="color:white" align="center">Faculty appraisal form</h3>
         <h3 class="lead" style="color:white" align="center">2017-2018</h3>
       <hr class="my-4" style="color:white">
       <h5 style="color:white; margin-left:108px;">Internship Report must be submitted.</h5>
     </div>
     </div>
    </div>
    </div>

  <div class="container">



       <form method="POST">
        {% csrf_token %}
        <div class="table-bordered poi form-row">
          <div class="form-group col-md-6">
            <label for="">Internship Company Name</label>
              {% render_field form2.it_name class="form-control"  %}
          </div>
          <div class="form-group col-md-3">
            <label for="">From</label>
              {% render_field form2.it_f class="form-control" id="datepicker" %}
          </div>
          <div class="form-group col-md-3">
            <label for="">To</label>
              {% render_field form2.it_t class="form-control" id="datepicker1" %}
          </div>

          <div class="form-group col-md-6">
            <label for="inputEmpName">Emp Name</label>
            <input type="email" class="form-control" id="inputEmpName" placeholder="EmpName" value="{{ info.first_name }}" disabled>
          </div>
        <div class="form-group col-md-6">
            <label for="inputEmployeeIdNo">Username</label>
            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="EmployeeIdNo" value="{{info.username}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputHighestQuali">Highest Qualification</label>
              {% render_field form2.high_qual class="form-control" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputDept">Dept</label>
            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="EmployeeIdNo" value="{{info.department}}">
        </div>
        <div class="form-group col-md-12">
          <label for="inputDOJ">DOJ</label>
            {% render_field form2.doj class="form-control" id="datepicker2" %}
        </div>
        <div class="form-group col-md-6">
          <label >Designation</label>
          <input type="text" class="form-control"  disabled value="{{info.designation}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputHeldFrom">HeldFrom</label>
          {% render_field form2.Held_from class="form-control" id="datepicker3" %}
        </div>

        <div class="form-group col-md-6">
          <label for="inputPhoneNo">PhoneNo</label>
          <input type="text" class="form-control" id="inputPhoneNo" placeholder="PhoneNo" value="{{info.phone}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{info.email}}">
        </div>

        <h3>Experience</h3>
          <div class="row form-group col-md-12">

           <div class="form-group col-md-4">
            <label for="inputteaching">Teaching</label>
            {% render_field form2.exp_teach class="form-control" %}
           </div>
            <div class="form-group col-md-4">
              <label for="inputResearch">Research</label>
                {% render_field form2.exp_res class="form-control" %}
            </div>
            <div class="form-group col-md-4">
              <label for="inputIndustry">Industry</label>
                {% render_field form2.exp_indus class="form-control" %}
            </div>
         </div>
     </div>



<div class="form-group col-md-6">

          <h5 class="po color2">Document link</h5>

               <div class="form-group col-md-6">

                    {% render_field form1.doc_link class="form-control " %}

                </div>





<div class="card dis1">

<div>
      <input type="submit" value= " save" class="btn btn-success btn-lg btn-block"/>
</div>

</div>
</form>
</div>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker1" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker2" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker3" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
  } );
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
