<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOD-View</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>

    <div class="jumbotron">

    <div class="container-fluid">
    <center><img  src="{% static "image/bms.logo.png" %}" alt="BMS Institute of Technology of management" ></center>
    <div class="row">

     <div class="col-12"><h1 align="center" class="display-4"> BMS Institute of Technology and management</h1>
     <h3 id="qw" align="center" class="display-4">Department of <em>{{dept}}</em></h3>
     </div>
     </div>
    </div>
    </div>

<div class="login-page">
<div style="margin-top:-25%;" class="form">
<div class="container">
  <div class="login-form">

    <form class="" action="" method="post">
      <a href="/hod_form/"><input type="button" class="list-group-item list-group-item-action list-group-item-info" value="Submit your own form"></a>
      <a href="/hod_display/"><input type="button" class="list-group-item list-group-item-action list-group-item-info" value="view faculty form"></a>

    </form>
  </div>
</div>
</div>
</div>


  </body>
</html>
