<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>

<head>
  <title>asp1</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src={% static "js/h.js" %}></script>
</head>
<body>
  <div class="container">

      <div class="card poi" style="background: #B79891;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
        <div class="form-row">
        <div class="form-group col-md-3">
        <img src={% static "image/bms.logo.png" %} class="" width="150px"/>
      </div>
        <div class="form-group col-md-9">
        <h2 class="display-4 al" >BMS Institute of Technology & Management</h2>
      </div>
    </div>
        <h3 class="lead" align="center">Faculty appraisal form</h3>
        <hr class="my-4">
        <h5>Report must be submitted.</h5>
      </div>

       <form method="POST">
        {% csrf_token %}
        <div class="table-bordered poi form-row">
          <div class="form-group col-md-6">
            <label for="">Internship Company Name</label>
              {% render_field form2.it_name class="form-control"  %}
          </div>
          <div class="form-group col-md-3">
            <label for="">From</label>
              {% render_field form2.it_f class="form-control" id="datepicker" %}
          </div>
          <div class="form-group col-md-3">
            <label for="">To</label>
              {% render_field form2.it_t class="form-control" id="datepicker1" %}
          </div>

          <div class="form-group col-md-6">
            <label for="inputEmpName">Emp Name</label>
            <input type="email" class="form-control" id="inputEmpName" placeholder="EmpName" value="{{ info.first_name }}" disabled>
          </div>
        <div class="form-group col-md-6">
            <label for="inputEmployeeIdNo">Username</label>
            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="EmployeeIdNo" value="{{info.username}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputHighestQuali">Highest Qualification</label>
              {% render_field form2.high_qual class="form-control" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputDept">Dept</label>
            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="EmployeeIdNo" value="{{info.department}}">
        </div>
        <div class="form-group col-md-12">
          <label for="inputDOJ">DOJ</label>
            {% render_field form2.doj class="form-control" id="datepicker2" %}
        </div>
        <div class="form-group col-md-6">
          <label >Designation</label>
          <input type="text" class="form-control"  disabled value="{{info.designation}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputHeldFrom">HeldFrom</label>
          {% render_field form2.Held_from class="form-control" id="datepicker3" %}
        </div>

        <div class="form-group col-md-6">
          <label for="inputPhoneNo">PhoneNo</label>
          <input type="text" class="form-control" id="inputPhoneNo" placeholder="PhoneNo" value="{{info.phone}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{info.email}}">
        </div>

        <h3>Experience</h3>
          <div class="row form-group col-md-12">

           <div class="form-group col-md-4">
            <label for="inputteaching">Teaching</label>
            {% render_field form2.exp_teach class="form-control" %}
           </div>
            <div class="form-group col-md-4">
              <label for="inputResearch">Research</label>
                {% render_field form2.exp_res class="form-control" %}
            </div>
            <div class="form-group col-md-4">
              <label for="inputIndustry">Industry</label>
                {% render_field form2.exp_indus class="form-control" %}
            </div>
         </div>
     </div>





  


<div class="card dis1">


   <button type="button" class="btn btn-success btn-lg btn-block">Save</button>
</div>

</div>
</form>
</div>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker1" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker2" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
   $( "#datepicker3" ).datepicker({
    dateFormat: "yy-mm-dd"
  });
  } );
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
