<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>

<head>
  <title>asp1</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href={% static "css/index.css" %}>

</head>
<body>
  <div class="container">

      <div class="card poi">
        <div class="form-row">
        <div class="form-group col-md-3">
        <img src={% static "image/logo.png" %} class="img-thumbnail" width="150px"/>
      </div>
        <div class="form-group col-md-9">
        <h2 class="display-4 al" >BMS Institute of Technology&Management</h2>
      </div>
    </div>
        <h3 class="lead" align="center">Faculty appraisal form</h3>
        <hr class="my-4">
        <h5>Report must be submitted.</h5>
      </div>

      <form>
        {% csrf_token %}
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Internship Company Name</label>
            {% render_field form2.it_name class="form-control" %}
          </div>
          <div class="form-group col-md-3">
            <label for="">From</label>
            {% render_field form2.it_f class="form-control" %}
          </div>
          <div class="form-group col-md-3">
            <label for="">To</label>
            {% render_field form2.it_t class="form-control" %}
          </div>

          <div class="form-group col-md-6">
            <label for="inputEmpName">EmpName</label>
            <input type="email" class="form-control" id="inputEmpName" placeholder="EmpName">
          </div>
        <div class="form-group col-md-6">
            <label for="inputEmployeeIdNo">EmployeeIdNo</label>
            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="EmployeeIdNo">
        </div>
        <div class="form-group col-md-6">
            <label for="inputHighestQuali">HighestQuali</label>
            {% render_field form2.high_qual class="form-control" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputDept">Dept</label>
          <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="EmployeeIdNo" value="{{department}}">
        </div>
        <div class="form-group col-md-12">
          <label for="inputDOJ">DOJ</label>
          {% render_field form2.doj class="form-control" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPresentPosition">PresentPosition</label>
            {% render_field form2.Present_pos class="form-control" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputHeldFrom">HeldFrom</label>
          {% render_field form2.Held_from class="form-control" %}
        </div>

        <div class="form-group col-md-6">
          <label for="inputPhoneNo">PhoneNo</label>
          <input type="text" class="form-control" id="inputPhoneNo" placeholder="PhoneNo">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <h3>Experience</h3>
          <div class="row form-group col-md-12">

           <div class="form-group col-md-4">
            <label for="inputteaching">teaching</label>
            {% render_field form2.exp_teach class="form-control" %}
           </div>
            <div class="form-group col-md-4">
              <label for="inputResearch">Research</label>
              {% render_field form2.exp_res class="form-control" %}
            </div>
            <div class="form-group col-md-4">
              <label for="inputIndustry">Industry</label>
              {% render_field form2.exp_indus class="form-control" %}
            </div>
         </div>
     </div>
  


   <h3>Course Feedback and results<span class="sp">(Maximum Score: 20 marks)</span></h3>

<div class="card poi">

  <h4>Odd Semester</h4>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Therory Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>{% render_field form3.o_t1_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_t1_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_t1_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_t1_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_t1_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>{% render_field form3.o_t2_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_t2_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_t2_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_t2_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_t2_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
      <tr>
      <td>3</td>
      <td>{% render_field form3.o_t3_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_t3_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_t3_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_t3_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_t3_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Lab Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>{% render_field form3.o_l1_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_l1_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_l1_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_l1_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_l1_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>{% render_field form3.o_l2_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_l2_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_l2_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_l2_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_l2_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
     <tr>
      <td>3</td>
      <td>{% render_field form3.o_l3_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_l3_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_l3_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_l3_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_l3_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>{% render_field form3.o_l4_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_l4_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_l4_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_l4_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_l4_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>{% render_field form3.o_l5_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.o_l5_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.o_l5_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.o_l5_stu_app class="form-control" %}</td>
      <td>{% render_field form3.o_l5_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
  </tbody>
</table>

</div>

<div class="card poi1">

   <h4>Even Semester</h4>
  <table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Therory Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td>1</td>
      <td>{% render_field form3.e_t1_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_t1_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_t1_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_t1_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_t1_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
     <tr>
      <td>2</td>
      <td>{% render_field form3.e_t2_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_t2_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_t2_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_t2_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_t2_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
     <tr>
      <td>3</td>
      <td>{% render_field form3.e_t3_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_t3_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_t3_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_t3_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_t3_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2">Lab Courses</th>
      <th colspan="3">Student Feedback</th>
      <th colspan="3">Final Result</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
      <th>Stuapp</th>
      <th>StuPass</th>
      <th>%pass</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>{% render_field form3.e_l1_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_l1_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_l1_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_l1_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_l1_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
     <tr>
      <td>2</td>
      <td>{% render_field form3.e_l2_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_l2_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_l2_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_l2_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_l2_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
     <tr>
      <td>3</td>
      <td>{% render_field form3.e_l3_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_l3_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_l3_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_l3_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_l3_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
     <tr>
      <td>4</td>
      <td>{% render_field form3.e_l4_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_l4_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_l4_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_l4_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_l4_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>{% render_field form3.e_l5_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.e_l5_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.e_l5_f2 class="form-control" %}</td>
      <td></td>
      <td> {% render_field form3.e_l5_stu_app class="form-control" %}</td>
      <td>{% render_field form3.e_l5_stu_pass class="form-control" %}</td>
      <td></td>
    </tr>
  </tbody>
</table>

</div>

<div class="card poi">

   <h4>Project Guided</h4>
  <table class="table-bordered table">
  <thead>
    <tr>
      <th rowspan="2">S.no</th>
      <th rowspan="2" >Therory Courses</th>
      <th colspan="3" >Student Feedback</th>
    </tr>
    <tr>
      <th>Feedback1</th>
      <th>Feedback2</th>
      <th>Avg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>{% render_field form3.p1_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.p1_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.p1_f2 class="form-control" %}</td>
      <td></td>
    </tr>
     <tr>
      <td>2</td>
      <td>{% render_field form3.p2_name class="form-control" %}</td>
      <td class="right aligned">{% render_field form3.p2_f1 class="form-control" %}</td>
      <td class="center aligned">{% render_field form3.p2_f2 class="form-control" %}</td>
      <td></td>
    </tr>
</tbody>
</table>
</div>


<div class="accordion" id="accordionExample">
  <h5 class="po color1">RESEARCH & DEVELOPMENT AND CONSULTANCY<span class="sp">(Maximum Score: 35 marks)</span></h5>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Workshops/FDP attended
        </button>
      </h5>
    </div>


      <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="State Level" >

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.w_s_d class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="National Level">

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.w_n_d class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="International Level">

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.w_i_d class="form-control" %}
        </div>
    </div>

</div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

Presentations (Invited talk/panel/keynote)
        </button>
      </h5>
    </div>
   
        <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="State Level">

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.p_s_d class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="National Level">

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.p_n_d class="form-control" %}
            
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="International Level">

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.p_i_d class="form-control" %}
            
        </div>
    </div>

  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Number of Online Courses Completed
        </button>
      </h5>
    </div>
   <div class="form-group dis col-md-6">
            {% render_field form4.onl_course_c class="form-control" %}
        </div>
  </div>
</div>




<div class="accordion dis1" id="accordionExample">
  <h5 class="po color1">Publications</h5>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Number of Publications in National/International Journals/Conferences
        </button>
      </h5>
    </div>
   <div class="form-group col-md-12" >
<div class="form-row">
<div class="form-group col-sm-6">
<label >Name of conference: </label>
{% render_field form4.c_name class="form-control" %}
</div>

<div class="form-group col-sm-6">
<label >Title of the paper: </label>
{% render_field form4.c_title class="form-control" %}
</div>

<div class="form-group col-sm-6">
<label>Place: </label>
{% render_field form4.c_place class="form-control" %}
</div>

<div class="form-group col-sm-6">
<label >Date: </label>
{% render_field form4.c_date class="form-control" %}
</div>

<div class="form-group col-sm-6">
<label>Indexed: </label>
{% render_field form4.c_index class="form-control" %}
</div>
</div>
</div>

<!-- form>
        <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Sole Authored">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being first and second author">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being other author ">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>
</form>
</div> -->


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

Number of journal papers with Scopus/DBLP/ Google Scholar Indexed Publications
        </button>
      </h5>
    </div>
      <div class="form-group col-md-12">
        <div class="form-row">
<div class="form-group col-sm-6">
<label >Name of journal: </label>
{% render_field form4.j_name class="form-control" %}
</div>
<div class="form-group col-sm-6">
<label >Title of the paper: </label>
{% render_field form4.j_title class="form-control" %}
</div>
<div class="form-group col-sm-6">
<label >Volume: </label>
{% render_field form4.j_volume class="form-control" %}
</div>
<div class="form-group col-sm-6">
<label >Issn/Doi: </label>
{% render_field form4.j_issn class="form-control" %}
</div>
<div class="form-group col-sm-6">
<label >Date: </label>
{% render_field form4.c_date class="form-control" %}
</div>
<div class="form-group col-sm-6">
<label >Page no: </label>
{% render_field form4.j_page class="form-control" %}
</div>
<div class="form-group col-sm-6">
<label>Indexed: </label>
{% render_field form4.j_index class="form-control" %}
</div>
</div>
</div>
<!--    <form>
        <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Sole Authored">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being first and second author">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Being other author ">

          </div>
        <div class="form-group col-md-6">

            <input type="text" class="form-control" id="inputEmployeeIdNo" placeholder="Count Eg. 3">
        </div>
    </div>
</form> -->
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Number of Books/Book chapter Published/Publication in News media
        </button>
      </h5>
    </div>
   
         <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book Authored  International (10 marks/Book)">

          </div>
        <div class="form-group col-md-6">

           {% render_field form4.book_i class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book Authored  National (08 marks/Book)">

          </div>
        <div class="form-group col-md-6">

            {% render_field form4.book_n class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book chapterAuthored  International (06 marks/Book Chapter)">

          </div>
        <div class="form-group col-md-6">

             {% render_field form4.book_ci class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Book chapterAuthored  National (04 marks/Book Chapter)">

          </div>
        <div class="form-group col-md-6">
        {% render_field form4.book_cn class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="Articles Published in International (10 marks/Article)">

          </div>
        <div class="form-group col-md-6">

             {% render_field form4.book_ai class="form-control" %}
        </div>
    </div>

    <div class="form-row dis">
          <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="inputEmployeeIdNo" disabled placeholder="National  Media (06 marks/Article)">

          </div>
        <div class="form-group col-md-6">

             {% render_field form4.book_nm class="form-control" %}
        </div>
    </div>
<!-- </form> -->
  </div>
</div>

<div class="card poi">
  <h5 class="po color1">Research Projects</h5>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Funding</th>
      <th scope="col">Being Sole Principal Investigator</th>
      <th scope="col">Being first Principal Investigator</th>
      <th scope="col">Being Co-Investigator</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Internally Funded<span class="sp"> 5 marks/project</span></th>
      <td> {% render_field form4.if_s class="form-control" %}</td>
      <td>{% render_field form4.if_f class="form-control" %}</td>
      <td>{% render_field form4.if_c class="form-control" %}</td>
    </tr>
    <tr>
      <th scope="row">Externally Funded Less than 5Lakhs<span class="sp">( 5 marks/project )</span> </th>
       <td> {% render_field form4.ef_s class="form-control" %}</td>
      <td>{% render_field form4.ef_f class="form-control" %}</td>
      <td>{% render_field form4.ef_c class="form-control" %}</td>
    </tr>
    <tr>
      <th scope="row">Externally Funded Btw 5Lakhs to 10Lakhs<span class="sp"> 10 marks/project</span> </th>
      <td> {% render_field form4.eef_s class="form-control" %}</td>
      <td>{% render_field form4.eef_f class="form-control" %}</td>
      <td>{% render_field form4.eef_c class="form-control" %}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Funding</th>
      <th scope="col">Upto 2 Lakhs</th>
      <th scope="col">Upto 2-5 Lakhs</th>
      <th scope="col">Above 5 Lakhs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Consultancy Work</th>
      <td> {% render_field form4.Cw_2 class="form-control" %}</td>
      <td>{% render_field form4.Cw_2_5 class="form-control" %}</td>
      <td>{% render_field form4.Cw_5 class="form-control" %}</td>
    </tr>
    </tbody>
</table>
</div>

<div class="card po">
  <h5 class="po"> Innovative contributions to teaching learning process provide description below with Initiation,Implementation, Impact Analysis<span class="sp">(Maximum Score: 5 marks)</span></h5>
 <div class="input-group text12">
  <div class="input-group-prepend">
  </div>
  {% render_field form5.ta_ic class="form-control" %}
  <input type="text" class="form-control col-md-2 poi" placeholder="marks" aria-label="Username" aria-describedby="basic-addon1" disabled >
</div>
</div>

<div class="card dis1 po">
  <h5 class="po">Departmental  Responsibilities (Please list only those where you have made significant contribution)</h5>
 <div class="input-group text12">
  
  {% render_field form5.ta_dr class="form-control" %}
</div>

<div class="card dis1 ">
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Attitude and Commitment to Departmental and Regular Teaching and Examination works:<span class="sp">(Maximum Score: 40 marks)</span></th>
      <th scope="col">Principal's Marks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Contribution to Department Developmental Activites<span class="sp"> (Maximum Score: 15 marks)</span></td>
       <td rowspan="3"><input type="text" class="form-control" placeholder="marks" aria-label="Username" aria-describedby="basic-addon1" disabled></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Attitude/Behaviour/Discipline/Punctuality<span class="sp"> (Maximum Score: 5 marks)</span></td>


    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Examination/Test duties, Question paper preparation, Evaluation Preparation of Course material and Dedicaton in conducting Theory and Laboratory classes<span class="sp"> (Maximum Score: 5 marks)</span></td>

    </tr>
   <tr>
    <th scope="row">4</th>
      <td>Contribution to Institutional Developmental Activites<span class="sp">(Maximum Score: 15 marks)</span></td>
    </tr>

  </tbody>
</table>

</div>

<div class="card po dis1">
  <h5 class="po">Institutional  Responsibilities (Please list only those where you have made significant contribution)</h5>
 <div class="input-group text12">
 {% render_field form5.ta_ir class="form-control" %}
</div>
</div>


<div class="card dis1">
 <div class="input-group text12">
  <div class="input-group-prepend">
    <span class="input-group-text">Brief Remarks of the Principal</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
</div>

<input type="submit" name="submit" class="dis1">
</form>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
