<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MMS</title>
    <link rel="stylesheet" href="{% static "css/front.css" %}">
  </head>
  <body>
<section>
<div class="container">
  <div class="login-form">
    <h1>HOD-PANEL</h1>
    <form class="" action="" method="post">
      <a href="/facform1/hod_display/"><input type="button" class="btn3" name="" value="view faculty form"></a>
      <a href="/facform1/hod_form/"><input type="button" class="btn3" name="" value="Submit your own form"></a>
    </form>
  </div>
</div>
</section>

  </body>
</html>